@import '../../styles/variables';


li.third-level-trigger {
    &.active {
        &>a {
            color: $body;
            font-weight: $font-weight-bold;

            .icon {
                span{
                    transform:  translate(-50%, -50%) rotate(180deg);
                }
            }
        }
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .icon {
            position: relative;
            height: 2.1rem;
            width: 2.1rem;

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transition-duration: .5s;
                transform: translate(-50%, -50%) rotate(0);
            }
        }
    }

}

.nav-third-level {
    @include noBullets;

    li {
        a {
            display: block;
            padding: 1.8rem 3.5rem;
            color: $body;
            transition-duration: .5s;

            @include states {
                text-decoration: underline;
                color: $primary;
            }
        }

        &.active {
            color: $primary;
        }
    }
}