@import '../../styles/variables';
@import '../../styles/mixins';

$med-width: 602;
$large-width: 1170;

.discover-premier-view {
    padding: 1.5rem;
    background-color: $light-background;
    width: 95%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    h1 {
        font-size: 3.5rem;
    }

    label {
        font-size: 1.6rem;
    }

    hr {
        background-color: $primary;
        border: none;
        height: .5rem;
        width: 100%;

        @include at($med-width) {
            margin-top: 6.5rem;
            margin-bottom: 7rem;
        }

        @include at($large-width) {
            margin-top: 0;
        }
    }

    .discover-tiles {
        width:96%;

        @include at($med-width) {
            position: absolute;
            top: 11rem;
            left: 2rem;
            width: 55rem;
        }

        @include at($large-width) {
            top: 1.5rem;
            right: 1.5rem;
            left: auto;
            width: 77rem;
        }
    }

    .discover-tile-row {
        display: flex;
        flex-direction: column;

        @include at($med-width) {
            flex-direction: row;
        }
    }

    .service-details {
        width: 100%;

        .service-detail-col {
            @extend .flex-col;
            margin: 1.5rem;
            justify-content: space-between;

            .service-detail-header {
                @extend .flex-row;
                justify-content: space-between;

                i {
                    font-size: 3.5rem;
                    margin-right: 1.5rem;
                }

                h1 {
                    text-align: left;
                    flex-grow: 8;
                }

                a {
                    font-size: 1.5rem;
                    text-decoration: none;

                    i {
                        font-size: 1.5rem;
                        margin-right: 0;
                    }
                }
            }

            .service-titles {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                flex-grow: 1;
                flex-basis: 100%;

                @include at($med-width) {
                    flex-basis: 33%;
                }

                .service-title-container {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    flex: 1 1 100%;

                    @include at($med-width) {
                        flex-basis: 50%;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;

                        .service-title {
                            border-radius: 1rem;
                            background-color: #FFFFFF;
                            padding: 1rem;
                            margin: 1rem;
                            font-weight: $font-weight-bold;
                        }

                        .service-title-selected {
                            @extend .service-title;
                            border: .2rem solid $primary;
                        }

                        i {
                            color: $tertiary;
                        }
                    }
                }
            }

            .service-title-description, .service-title-description-mobile {
                @extend .flex-col;
                flex-grow: 1;
                flex-basis: 10%;
                justify-content: space-between;

                .service-description {
                    margin-left: 1.5rem;
                }

                input[type="button"] {
                    margin-bottom: 1.5rem;
                }

                .description-footer {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;

                    span {
                        color: $primary;
                    }

                    i {
                        color: $tertiary;
                    }
                }
            }

            .service-title-description {
                display: none !important;

                @include at($med-width) {
                    display: flex !important
                }
            }

            .service-title-description-mobile {
                @include at($med-width) {
                    display: none !important;
                }
            }

            hr {
                margin-bottom: 0;
                margin-top: 2.5rem;
                background: linear-gradient(to right, $primary 0%, $primary 33%, $secondary 33%, $secondary 66%, $tertiary 66%, $tertiary 100%)
            }
        }
    }

    .service-card-row {
        display: flex;
        flex-flow: row wrap;

        .service-card-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            flex: 1 1 50%;

            @include at($med-width) {
                flex-basis: 33%;
            }

            @include at($large-width) {
                flex-basis: 25%;
            }

            a {
                text-decoration: none;
                color: black;
            }

            .service-card {
                border-radius: 1rem;
                background-color: #FFFFFF;
                padding: 1rem;
                margin: 1.5rem;
                min-height: 11rem;
                box-shadow: 0 .1rem .6rem 0 $light-font;

                .service-card-top {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;

                    & > div {
                        display: flex;
                        flex-flow: column nowrap;
                    }
                }

                i {
                    font-size: 4rem;
                }

                span {
                    font-size: 1.5rem;
                    font-weight: $font-weight-bold;
                }

                .service-usage {
                    background-color: $light-background;
                    color: $light-font;
                    border-radius: 4rem;
                    padding: .5rem;
                }
            }

            .selected-service-card {
                @extend .service-card;
                min-height: 13rem;
                margin: .5rem;
            }

            .unselected-service-card {
                @extend .service-card;
                opacity: .1;
            }
        }
    }

    .tile-card {
        flex: 1 1 100%;
    }

    .main-card {
        width: 100%;
        min-height: 7rem;

        @include at($med-width) {
            width: 16rem;
            padding: 1rem;
            margin-bottom: 1.5rem;
        }

        @include at($large-width) {
            height: 10rem;
            width: 24rem;
            padding: 1.5rem;
        }

        .disabled-text {
            opacity: .1;
        }

        div {
            @include at($large-width) {
                font-size: 2.3rem;
                margin-right: .5rem;
            }
        }

        i {
            @include at($large-width) {
                font-size: 7rem;
            }
        }
    }

    .transaction-row {
        @include at($large-width) {
            width: 90%;
        }
    }
}
