@import '../../styles/variables';

.side-nav {
    z-index: 100;
    display: none;
    position: absolute;
    @include at(720) {
        position: static
    }
    flex-direction: column;
    align-items: center;
    border-right: .1rem solid $border-light;
    border-bottom: .1rem solid  $border-light;
    background-color: $white;
    min-height: 100vh;

    .side-nav-upper {
        border-bottom: .1rem solid  $border-light;
        a {
            margin: .5rem auto;
        
            &:first-child {
                margin-top: 1rem;
            }
            &:last-child{
                margin-bottom: 3rem;
            }
        }
    }

    .side-nav-lower {
        
        > label {
            display: block;
            width: 100%;
            margin-top: 2rem;
            margin-left: 3.6rem;
        }
        
        a {
            margin: .25rem auto;
            &:first-child {
                margin-top: .5rem;
            }
            &:last-child{
                margin-bottom: 3rem;
            }
        }
    }

    .side-nav-lower, .side-nav-upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
            padding: .2rem .9rem;
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 3.6rem;

            &.active, &:hover {
                padding: .2rem 0 .2rem .6rem;
                border-left: solid .3rem $primary;
                .fa {
                    color: $primary !important;
                }
                label {
                    font-weight: 600;
                }
            }

            .fa {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.2rem;
                font-size: 1.5rem;
                margin-right: .8rem;
            }

            label {
                margin: 0;
                font-weight: 400;
            }
        }
    }

    &.open {
        display: flex;
        width: $side-nav-width;

        &.minimal {
            width: 5rem;

            label {
                display: none;
            }

            a {
                .fa {
                    margin-right: 0;
                }
            }
        }
    }
}
