@import '../../styles/variables';


.side-nav {
    position: fixed;
    top: 0;
    left: -22rem;
    width: 22rem;
    background-color: #fff;
    height: 100vh;
    transition-duration: 0.3s;
    padding: 2.5rem 0;
    box-sizing: border-box;
    z-index: 1;
    overflow-y: auto;

    @include tablet {
        left: 0;
    }

    .heading{
        padding-left:2.5rem;
        font-size:1.4rem;
        font-weight: $font-weight-bold;
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom:4.5rem;
        &:not(:last-child){

        }
    }

    li {
        height: 4.5rem;
        margin-bottom: 1rem;
    }

    a {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        color: $light-font;
        text-decoration: none;
        transition-duration: .3s;
        cursor: pointer;

        &:before {
            content: "";
            height: 100%;
            width: .5rem;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            transition-duration: .1s;
        }

        @include states {
            color: #222;

            &:before {
                background-color: $primary;
            }

            .icon {
                color: $primary;
            }
        }

        .icon {
            width: 2rem;
            height: 2rem;
            margin: 0 2.5rem;

        }
    }

    @include tablet {
        position: relative;
        height: auto;
    }
}

.side-nav-expanded {
    .side-nav {
        left: 0rem;
        width: 22rem;
    }

    .alloya-content {
        @include tablet {
            left: 22rem;
            width: calc(100% - 22rem);
        }
    }
}
