@import '../../styles/variables';

.side-nav {
    position: fixed;
    top: 0;
    left: -22rem;
    width: 7rem;
    background-color: #fff;
    min-height: 100vh;
    transition-duration: 0.3s;
    height: 100%;
    overflow-y: auto;
    z-index: 10;

    @include tablet {
        left: 0;
        overflow-y: initial;
        position: relative;
        height: auto;
    }

    a {
        text-decoration: none;
    }

    .heading {
        padding-left: 2.5rem;
        font-size: 1.4rem;
        font-weight: $font-weight-bold;
        transition-duration: .3s;
        @include fadeOut;
    }

    .nav-base-level {
        @include noBullets;
        padding: 2.5rem 0 4.5rem;

        &:not(:last-child) {
            border-bottom: .2rem solid $light-background;
        }

        &>li {
            height: 5rem;
            width: 22rem;

            @include states {
                &>a {
                    color: #222;

                    &:before {
                        background-color: $primary;
                    }

                    .icon {
                        color: $primary;
                    }
                }
            }

            &>a {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                font-weight: $font-weight-bold;
                color: $light-font;
                transition-duration: .3s;
                cursor: pointer;

                &:before {
                    content: "";
                    height: 100%;
                    width: .5rem;
                    background-color: transparent;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition-duration: .2s;
                }



                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 7rem;

                }

                .title {
                    transition-property: opacity;
                    transition-duration: .3s;
                    @include fadeOut;
                }
            }

            .active-trigger {
                display: flex;
                width: 7rem;
                height: 5rem;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: white;
                z-index: 100;

                &:before {
                    content: "";
                    height: 100%;
                    width: .5rem;
                    background-color: transparent;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition-duration: .2s;
                }
            }

            &:nth-child(2) {
                .active-trigger {
                    top: 75px;
                }
            }

            &:nth-child(3) {
                .active-trigger {
                    top: 125px;
                }
            }

            &:nth-child(4) {
                .active-trigger {
                    top: 175px;
                }
            }


            &.active {
                &>a {
                    color: #222;

                    &:before {
                        background-color: $primary;
                    }

                    .icon {
                        color: $primary;
                        box-shadow: -2rem 0 2rem rgba(#ccc, .5);
                    }
                }

                .active-trigger {
                    display: flex;
                    color: $primary;

                    &:before {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

.side-nav-expanded {

    .heading,
    .side-nav .nav-base-level .title {
        @include fadeIn;
    }

    .side-nav {
        left: 0rem;
        width: 31rem;

        @include tablet {
            width: 22rem;
        }
    }

    .alloya-content {
        @include tablet {
            left: 22rem;
            width: calc(100% - 22rem);
        }
    }
}