@import '../../styles/variables';


.nav-second-level {
    @include noBullets;
    position: absolute;
    left: 5rem;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    transition-duration: .5s;
    padding: 2.5rem 0;
    box-sizing: border-box;
    font-size: 1.4rem;
    z-index: 20;
    @include fadeOut;
    z-index: -10;
    box-shadow: 0 0 2rem rgba(#ccc, .5);

    &>li {
        width: 24rem;

        &>a {
            color: $light-font;
            display: flex;
            padding: 2rem 2.5rem;
            box-sizing: border-box;
            border-bottom: .1rem solid #efefef;
            transition-duration: .2s;

            @include states {
                color: $body;
                font-weight: $font-weight-bold;
            }
        }
    }

    .nav-heading {
        font-size: 1.6rem;
        padding: 0 2.5rem 1rem;
        color: $primary;
        font-weight: $font-weight-bold;
        display: block;
        box-sizing: border-box;
    }


}

li.active .nav-second-level {
    @include fadeIn;
    left: 7rem;
    z-index: 20;

}

.side-nav-expanded {
    ul.nav-second-level {
        width: 24rem;
    }
}