.top-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
    background-color: #fff;
    border-bottom: .2rem solid $light-background;
    box-shadow: 0 0 2rem rgba(#ccc, .27);
    left: 0;
    transition-duration: .5s;
    z-index: 5;

    @include tablet {
        z-index: 10;
    }

    .trigger {
        padding: 2.5rem;
        color: $light-font;
        transition-duration: .5s;
        @include states{
            color:$primary;
        }
    }

    .left-side,
    .right-side {
        display: flex;
        align-items: center;
    }
}
