@import 'variables';
@import 'style-guide';

@import 'mixins';

.btn {
    background-color: #793352;
}

.alloya-welcome {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    align-items: center;
    flex: 0 0 50%;
    justify-content: space-around;

    @include tablet {
        flex-direction: row;
    }
}

.alloya-tiles {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    align-items: center;
    flex: 0 0 50%;
    justify-content: space-between;
    
    @include tablet {
        flex-direction: row;
        min-width: 80rem;
    }

    .transaction-card, .liquidity-card, .investments-card {
        margin-right: 0;
        width: 100%;
        @include tablet {
            width: 16rem;
        }
    }
}

.flex-fill {
    display: flex;
    flex-direction: column;
    @include tablet {
        align-items: center;
        justify-content: space-around;
        min-height: 100vh;
        flex-direction: row;
    }

    .flex-grow {
        
        @include tablet {
            flex-grow: 1;
            min-height: 100vh;
        }
    }
}

.shade {
    background: #CAD1DE;
}

.shade-triange {
    // background: linear-gradient(to right, #793352, #E49720, #597241);
    //background: rgb(121,51,82);
    background: linear-gradient(45deg, #597241 10%, #E49720 35%, #793352 84%);
    align-items: center;
    padding: 4rem;
}

.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
        padding: 4rem;
        min-height: 100vh;
    }
}

.col-container {
    flex: 1 0 50%;
    display: flex;
}

.alloya-logo {
    max-width: 100%;

    img {
        max-width: 100%;
    }
}

.sub-text {

}

.vertical-form {
    flex: 1 0 50%;

    @include tablet {
        padding: 4rem;
    }

    .field {
        position: relative;
        margin-top: 3rem;
        margin-bottom: 1.5rem;

        label {
            
            &.elevate {
                position: absolute;
                opacity: 0.5;
                left: 0;

                top: .15rem;
                transition: all 200ms;
            }
        }

        input {
            width: 100%;
            border: 0px;
            border-bottom: 1px solid #ccc;

            &[type='checkbox'], &[type='submit']{
                width: auto;
            }
            &[type='submit']{
                margin-left: 0rem;
            }
        }

        input:focus {
            border-bottom: 1px solid #666;
        }

        select {
            position: relative;
        }

        select:focus+label.elevate,
        select:valid+label.elevate,
        select:read-only+label.elevate,
        input:focus+label.elevate,
        input:valid+label.elevate,
        input:read-only+label.elevate {
            transform: translate3d(0%, -110%, 0);
            opacity: 1;
        }
    }

    .login-options {
        display: flex;
        flex-direction: row;
        .field {
            flex-direction: row;
            flex: 0 0 50%;
            &:last-child {
                text-align: right;
            }
            input {
                margin-right: .5rem;
            }
        }
    }

    .form-fill {
        align-self: self-start;
    }

    .disclaimer, .disclaimers {
        width: 100%;
        border: 0;

        .field {
            input[type="button"], input[type="submit"] {
                width: auto;

            }
        }
    }
    .announcement, .announcements {
        width: 100%;
        border: 0;

        .field {
            input[type="button"], input[type="submit"] {
                width: auto;
            }
        }
    }
}

.alloya-login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    align-items: center;

    @include tablet {
        padding: 5rem;
        flex-direction: row;
    }
    .col-container {
        @include tablet {
            padding: 1rem;
        }
    }
    .vertical-form {
        @include tablet {
            padding: 1rem;
        }    
    }
}