@import 'variables';
@import 'style-guide';

@import 'mixins';

$berry: #793352; // #762f4f


body.rich-text-editor-content, body.rich-text-editor-content-monochrome,
.login-container,
.content-container, .content-container-light, .no-border, .main-nav .dropdown-menu,
.specials, .export-context .specials, .export-context .content-container, 
table, table thead, table th:first-of-type, table th:last-of-type,
table tfoot:not(.k-footer-template):after,
table.offerings thead, table.offerings tfoot:after,
.forgot-pw, .validation-summary-errors.text-danger,
.border-radius-5, .panel-group .panel, .form-control:focus
{
    border-radius: 0rem;
    box-shadow: none;
}

.translucent-bg, .bg-content-color {
    background: transparent;
}


.btn {
    background-color: #793352;
    font-weight: normal;
    padding: .375rem .75rem;
}

.btn-default, .btn-primary {
    width: auto !important;
}

.nav.main-nav > li > a:hover, 
.nav.main-nav > li > a:focus, 
.nav.main-nav .open > a {
    background-color: lighten($color: ($berry), $amount: 15%);
}

.panel-group .panel {
    box-shadow: none;
    border-radius: .25rem;
}

.panel-group .panel + .panel {
    margin-top: .75rem;
}

.panel {
    background-color: #fafafa;
    border-radius: .2rem;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.form-control, .form-control:focus {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

input, button, .nav.main-nav > li > a, a.btn {
    font-weight: 500;
    border: none;
    min-width: 10rem;
    margin-left: 1.5rem;
    background-color: $berry;//#762f4f;
    //text-align: center;
    border-radius: .25rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    display: inline-block;
    font-size: 1.4rem;
    color: #fff;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ccc;
    
    &.btn {
        text-align: center;
    }
    &[type='checkbox'], &[type='submit'], &[type='button']{
        width: auto;
        text-align: center;
    }
    &[type='submit']{
        margin-left: 0rem;
    }
}
.nav.main-nav > li > a {
    text-align: center;
}
input:focus, .form-control:focus {
    border-bottom: 1px solid #666;
}


.nav.main-nav > li
{
    margin-left: .2rem;
}

input, button {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ccc;

    &[type='checkbox'], &[type='submit'], &[type='button']{
        width: auto;
    }
    &[type='submit']{
        margin-left: 0rem;
    }
}

input:focus {
    border-bottom: 1px solid #666;
}

select {
    position: relative;
}

label {
    white-space: nowrap;
    &.elevate {
        position: absolute;
        top: -2rem;
        left: 0;
    }
}

@include coolNonIEThing {
    label {
    
        &.elevate {
            position: absolute;
            opacity: 0.5;
            left: 0;

            top: .15rem;
            transition: all 200ms;
        }
    }
    
    select:focus+label.elevate,
    select:valid+label.elevate,
    select:read-only+label.elevate,
    input:focus+label.elevate,
    input:valid+label.elevate,
    input:read-only+label.elevate {
        transform: translate3d(0%, -110%, 0);
        opacity: 1;
    }
}

.mobile {
    display: block;
    @include tablet {
        display: none;
    }
}

.tablet {
    display: none;
    @include tablet {
        display: block;
    }
}
