.tile {
    position: relative;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    display: flex;
    align-items: flex-end;
    color: #fff;
    overflow: hidden;
    transition-duration: .3s;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        padding: 3.5rem;
    }

    .title {
        position: relative;
        z-index: 1;
        font-size: 2rem;

        @include tablet {
            font-size: 3rem;
        }
    }

    @include states {
        opacity: .9;
    }

    &.transaction {
        background-image: url("../img/transactions.png");
    }

    &.liquidity {
        background-image: url("../img/liquidity.png");

    }

    &.investments {
        background-image: url("../img/investments.png");
    }
}