.tile {
    position: relative;
    background-color: #7F4C60;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    color: #fff;
    overflow: hidden;
    transition-duration: .3s;
    width:100%;

    .title {
        position: relative;
        font-size: 30px;
        z-index: 1;
    }

    .icon {
        position: absolute;
        font-size: 180px;
        line-height: 1em;
        right: -15px;
        top: -30px;
        opacity: .3;
        z-index: 0;

    }

    @include states {
        opacity: .9;
    }

    &.transaction {
        background-image: linear-gradient(#965E73, #462132);
    }

    &.liquidity {
        background-image: linear-gradient(#E9B480, #B27719);
    }

    &.investments {
        background-image: linear-gradient(#808F68, #445932);
    }
}