$primary: #762f4f;
$primary-1: lighten($primary, 10%);
$primary-2: lighten($primary, 20%);
$primary-3: lighten($primary, 30%);
$primary-4: lighten($primary, 40%);

$secondary: #E49720;
$secondary-1: lighten($secondary, 10%);
$secondary-2: lighten($secondary, 20%);
$secondary-3: lighten($secondary, 30%);
$secondary-4: lighten($secondary, 40%);

$tertiary: #597241;
$tertiary-1: lighten($tertiary, 10%);
$tertiary-2: lighten($tertiary, 20%);
$tertiary-3: lighten($tertiary, 30%);
$tertiary-4: lighten($tertiary, 40%);

$error: red;
$ok: #2f752f;
$info: #2f7575; 
$white:#FFFFFF;

$alt-table-row: #F5F7FA;
$light-font: #B2B8BD;
$light-background:#EFF1F5;
$border-light: #ccc;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$side-nav-width: 20rem;