.logo {
    text-align: center;
    font-size: 3.3rem;
    box-sizing: border-box;
    width: 14rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  
    .sub {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  }
  