.logo {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 20rem;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  @include small-desktop {
    position: relative;
    left: 0;
    transform: none;
  }

  img {
    height: 5rem;
  }
}