include bootstrap/container
include bootstrap/containerf
include bootstrap/col
include bootstrap/row

include mixins/ipsum
include mixins/style-guide

doctype html
html(lang="en")
    head
        title Alloya Corporate Federal Credit Union
        link(rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous")   
        link(href="/css/bundle.min.css", 
            rel="stylesheet")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.standard
        block body
            header
                block header
                    #react-top-nav
            main
                block side
                    #react-side-nav
                block main

        script(src='/js/vendor.min.js')
        script(src='/js/app.min.js')