extend base

block main
    h1 #[+ipsum(20)]
    +container
        +row
            +col
                h1 Rapid Dev
        +row
            +col('sm')
                h2 RapidDev
            +col('sm')
                h2 CominToGetYa
                .expand
                    .btn.btn-primary Hello
                    .content
                        +ipsum(24)