extends login-base.pug

mixin page(title, url)
    //- tags can be inlined with the #[] syntax
    li #[a(href= url)= title]

//- this block will overwrite what is in template.pug
block body
    .alloya-login-container
        .alloya-welcome
            h2 How can we simplify your life today?
        .alloya-tiles
            .transaction-card
                .transaction-row
                    div Transactions
                    img(src='img/transactions-watermark.png')
            .liquidity-card
                .transaction-row
                    div Liquidity
                    img(src='img/liquidity-watermark.png')
            .investments-card
                .transaction-row
                    div Investments
                    img(src='img/investments-watermark.png')
        .alloya-mfa-down.alert.alert-danger
            h5.text-center Premier View is Currently Unavailable
            p We apologize for the inconvenience. We are actively looking into the issue.
        .alloya-login
            .notification-area
                .alloya-logo
                    img(src="img/alloya-logo.png", alt="Alloya Corporate Federal Credit Union", aria-hidden="true")
                .sub-text 
                    p.font-italic 
                        | Security Notification! This site is for authorized purposes only! Unauthorized attempts are strictly prohibited and are subject to prosecution under the Computer Fraud and Abuse Act of 1986 and Title 18 U.S.C. Sec. 1001 and 1030.
                    p.text-center 
                        | Copyright alloya corp 1997
                        br
                        | All Rights Reserved.
                        br
                        a.pi-href.pi-green(href="https://@globalLocalizer['HomeUrl']") go places
            .login-form
                form(action="", method="post")
                    h1 Login
                    .field
                        input(type="text", id="username", name="username", required)
                        label.elevate(for="username") Email Address
                    .field
                        input(type="password", id="password", name="password", required)
                        label.elevate(for="password") Password
                    .login-options
                        .field
                            input(type="checkbox", id="rememberme", name="rememberme", required)
                            label(for="rememberme") Remember Me
                        .field
                            a(href="/ForgotPassword") Forgot Password?
                    .field
                        input(type="submit", name="login", value="Login").btn.btn-primary

    