extends base.pug

block main
    +container
        +row
            +col
                .swatches
                    .group
                        .swatch.primary
                        .swatch.secondary
                        .swatch.tertiary
                    .group
                        .swatch.greyscale-darker
                        .swatch.grayscale-dark
                        .swatch.grayscale-light
                        .swatch.grayscale-lighter
                    .group
                        .swatch.gradient-primary
                        .swatch.gradient-secondary
                        .swatch.gradient-tertiary
    +container
        +row
            +col
                .title Headings
                h1
                    +ipsum(15)
                h2
                    +ipsum(15)
                h3 
                    +ipsum(15)
                h4 
                    +ipsum(15)
                h5
                    +ipsum(15)
                h6
                    +ipsum(15)
        +row
            +col
                .title Paragraph Styles
                p.large
                    +ipsum(250)
                p
                    +ipsum(250)
                p.small
                    +ipsum(250)
