extends base.pug

mixin page(title, url)
    //- tags can be inlined with the #[] syntax
    li #[a(href= url)= title]

//- this block will overwrite what is in template.pug
block body
    .d-flex.flex-column.flex-fill
        .d-flex.flex-row.flex-grow
            form(action="", method="post").d-flex.flex-column.content-left
                //- .d-flex.flex-row
                .d-flex.flex-column.login-column
                    h1 Enter Token Validation
                    .small Please enter the response code from your token
                    .field
                        input(type="text", id="responseCode", name="responseCode", required)
                        label(for="responseCode") Response Code
                    .field
                        input(type="submit", value="Submit").btn.btn-primary

            .d-flex.flex-column.content-right.content-right-shade
                .d-flex.flex-column.login-column
                    .logoText alloya Premier View
    