@import '../variables';

#contractGrid {
    .sectionhdg {
        font-size:2rem;
    }

    .sectionbody > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-grow: 1;
        flex-basis: 100%;
        margin: 0 -2rem;

        .contract-box {
            flex: 1 1 25%;
            min-width: 30rem;

            .contract {
                background-color: $alt-table-row;
                border-radius: .4rem;
                margin: 2rem;
                box-shadow: 0 .1rem .6rem 0 $light-font;
                height: calc(100% - 4rem);
                padding: .5rem 1.5rem;

                &.contract-active {
                    border-left: solid 1rem $ok
                }

                &.contract-inactive {
                    border-left: solid 1rem $light-font;
                }

                &.contract-inprogress {
                    border-left: solid 1rem darken($warning, 30%);
                }

                &.contract-terminated {
                    border-left: solid 1rem darken($error, 40%);
                }

                .contract-description {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    color: #000000;
                    margin: 0;
                    border-radius: 1rem 1rem 0 0;
                    padding: .5rem;
                    font-weight: $font-weight-bold;

                    span.fas {
                        font-size: 3rem;
                        color: $light-font;
                    }
                }

                .contract-body {
                    padding: .5rem;

                    .contract-bullet {
                        border-radius: 50%;
                        width: .6rem;
                        height: .6rem;
                        display: inline-block;
                        vertical-align: .2rem;

                        &.contract-bullet-active {
                            background-color: $ok;
                        }

                        &.contract-bullet-inactive {
                            background-color: $light-font;
                        }

                        &.contract-bullet-inprogress {
                            background-color: darken($warning, 40%);
                        }

                        &.contract-bullet-terminated {
                            background-color: darken($error, 40%);
                        }
                    }
                }
            }
        }
    }
}
