@import '../../styles/variables';
@import 'telerik';
@import 'rad-grid';
@import 'rad-strip';
@import 'contract-dashboard';
@import 'kendo-toolbar';
@import 'rad-toolbar';
@import 'rad-combo-box';
@import 'crystal-report-viewer';

#TheContent, #ctl00_PinValidationPanel {
    margin: 3rem;
    width: 100%;
    background-color: #FFFFFF;

    .PageHeader2 {
        margin-bottom: 0;
        font-size: 2.3rem;
        font-weight: $font-weight-black;
    }
    
    .PageHeaderToolbar {
        background-color: $primary-4;
    }

    .PageHeaderCrumb > a {
        color: $primary;
        background-color: lighten($primary, 60%);
    }

    .PageHeaderSub {
        margin-left: .75rem;
    }

    .btn {
        font-size: 1.4rem;
    }

    .btn-primary {
        background-color: $primary;
        border-color: $primary;
    }

    .btn-light {
        font-size: 1.4rem;
        font-weight: $font-weight-medium;
        border: solid .1rem #42505C;
        width: 10rem;
        margin-left: 1.5rem;
        background-color: $white;
        color: #000000;
        border-radius: .25rem;
    }

    .FormLabel {
        font-weight: $font-weight-medium;
        font-size: 1.4rem;
        padding: .5rem;

        input[type="text"] {
            width: 90%;
        }

        input[type="submit"] {
            width: 8rem;
        }
    }

    table {
        width: 100%;

        .filter-table {
            width: 65rem;
            margin-left: -.5rem;
        }
    }

    #ctl00_PageBody_DashboardRadGrid {
        width: 50%;

        table {
            width: 100%;
        }

        th {
            text-align: center;
        }

        tbody {
            tr {
                td:first-child {
                    background-color: $alt-table-row;
                    font-weight: $font-weight-bold;
                    width: 30%;
                }
            }
        }
    }

    .messagetext {
        font-size: 1.4rem;
    }

    .messageimg {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .messagesbg {
        border: .1rem solid;
        border-left-width: .4rem;
        margin-bottom: 1.4rem;
    }

    .messagesbg.error {
        border-color: $error;
    }

    .messagesbg.info {
        border-color: $info;
    }

    .zip-label {
        margin-bottom: 0;
    }

    .sectionhdg {
        color: $primary;
        padding-left: .5rem;
        margin-bottom: 1.5rem;
        font-weight: $font-weight-bold;
    }

    .sectionbody {
        margin-bottom: 2rem;
        padding-left: .5rem;
    }

    .disabledcell {
        background-color: $light-background;
        opacity: .7;
        width: 30rem;
        padding: .3rem;
    }

    .ButtonRow {
        margin-top: 1.5rem;

        input:first-child {
            margin-left: 0;
        }
    }

    .noticePanel {
        display: flex;
        flex-flow: row nowrap;
        background-image: linear-gradient(#462132, #965E73);
        color: $white;
        padding: 1.5rem;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        width: 50%;
        align-items: center;

        i {
            font-size: 7rem;
            margin-right: 1.5rem;
        }

        .title {
            font-size: 2rem;
        }

        p {
            font-size: 1.4rem;
        }
    }

    .form-checkbox {
        margin-left: 1.5rem;
        margin-bottom: .5rem;
    }

    .ButtonExpando{
        width:15rem;
    }
}
