@import '../../styles/variables';
@import '../../styles/mixins';

.RadTabStrip {
    margin-bottom: 1.5rem !important;

    .rtsUL {
        border-bottom: .1rem solid;
        border-bottom-color: $primary;
        border-bottom-width: .2rem;
        font-size: 1.4rem;
        width:100%;

        .rtsLI {

            .rtsLink {
                color: #B2B8BD;
                padding: .5rem 0 .5rem 0;

                @include states {
                    border-color: $primary;
                }

                .rtsOut {
                    padding-right: 0;
                }
            }

            .rtsLink.rtsSelected {
                color: #FFF;
                border-color: $primary;
                background-color: $primary;
                border-radius: .25rem .25rem 0 0;
            }
        }
    }
}