/* START  */
/* Dummy file to cause Telerik Style Manager to change URLs */
/* pv 11.1.0 */

/* END  */
/* START Telerik.Web.UI.Skins.PanelBar.css */
.RadPanelBar {
    width: 250px;
    text-align: left
}

.RadPanelBar_rtl {
    text-align: right
}

.RadPanelBar .rpRootGroup {
    border-width: 1px;
    border-style: solid
}

.RadPanelBar .rpRootGroup, .RadPanelBar .rpGroup, .RadPanelBar .rpItem {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style: none
}

.RadPanelBar .rpSlide {
    position: relative;
    float: none;
    height: auto;
    overflow: hidden;
    display: none;
    zoom: 1
}

.RadPanelBar .rpItem {
    float: none;
    display: block;
    overflow: hidden;
    position: static
}

* html .RadPanelBar .rpItem {
    display: inline
}

* html .RadPanelBar .rpSeparator {
    display: block
}

* html .RadPanelBar .rpGroup .rpItem {
    display: block
}

.RadPanelBar .rpItem:after, .RadPanelBar .rpText:after, .RadPanelBar .rpTemplate:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden
}

.RadPanelBar .rpLink {
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    background-repeat: repeat-x;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    zoom: 1
}

    .RadPanelBar .rpLink:focus {
        outline: 0 none
    }

.RadPanelBar .rpLink, .RadPanelBar .rpOut, .RadPanelBar .rpText {
    display: block
}

* + html .RadPanelBar .rpItem {
    display: inline
}

* + html .RadPanelBar .rpGroup .rpItem {
    display: block
}

* + html .RadPanelBar .rpSeparator {
    display: block
}

.RadPanelBar .rpHeaderTemplate, .RadPanelBar .rpOut {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.RadPanelBar .rpHeaderTemplate {
    line-height: 25px
}

* html .RadPanelBar .rpHeaderTemplate {
    height: 25px
}

.RadPanelBar .rpFocused .rpOut, .RadPanelBar a.rpLink:hover .rpOut, .RadPanelBar .rpSelected .rpOut, .RadPanelBar a.rpSelected:hover .rpOut {
    border-bottom-width: 0;
    padding-bottom: 1px
}

.RadPanelBar a.rpDisabled:hover .rpOut {
    padding-bottom: 0;
    border-bottom-width: 1px
}

.RadPanelBar .rpImage {
    float: left;
    border: 0;
    vertical-align: middle;
    padding: 4px 3px 3px
}

.RadPanelBar_rtl .rpImage {
    float: right
}

* html .RadPanelBar .rpImage {
    padding-bottom: 4px
}

.RadPanelBar .rpText {
    padding: 0 10px
}

.RadPanelBar .rpGroup {
    overflow: auto;
    overflow-x: hidden;
    position: relative
}

    .RadPanelBar .rpGroup .rpLink, .RadPanelBar .rpGroup .rpTemplate {
        background-color: transparent;
        border-bottom: 0;
        font-size: 12px;
        line-height: 22px
    }

    .RadPanelBar .rpGroup a.rpLink:hover {
        border-bottom: 0
    }

        .RadPanelBar .rpGroup .rpLink .rpOut, .RadPanelBar .rpGroup .rpExpanded .rpOut, .RadPanelBar .rpGroup .rpSelected .rpOut, .RadPanelBar .rpGroup a.rpLink:hover .rpOut, .RadPanelBar .rpGroup a.rpExpanded:hover .rpOut, .RadPanelBar .rpGroup a.rpSelected:hover .rpOut {
            padding-bottom: 0
        }

    .RadPanelBar .rpGroup a.rpDisabled:hover .rpOut {
        border-bottom: 0
    }

    .RadPanelBar .rpGroup .rpOut {
        border-bottom: 0;
        margin-right: 3px
    }

    .RadPanelBar .rpGroup .rpImage {
        padding: 3px 3px 3px 9px
    }

.RadPanelBar .rpLevel2 .rpTemplate, .RadPanelBar .rpLevel2 .rpOut {
    padding-left: 15px
}

.RadPanelBar .rpLevel3 .rpTemplate, .RadPanelBar .rpLevel3 .rpOut {
    padding-left: 30px
}

.RadPanelBar_rtl .rpLevel2 .rpTemplate, .RadPanelBar_rtl .rpLevel2 .rpOut {
    padding-left: 0;
    padding-right: 15px
}

.RadPanelBar_rtl .rpLevel3 .rpTemplate, .RadPanelBar_rtl .rpLevel3 .rpOut {
    padding-left: 0;
    padding-right: 30px
}

.RadPanelBar .rpLevel1 .rpFirst {
    padding-top: 1px;
    zoom: 1
}

.RadPanelBar .rpLevel2 .rpItem {
    padding-top: 0
}

.RadPanelBar .rpLevel1 .rpLast {
    padding-bottom: 1px
}

.RadPanelBar .rpLevel2 .rpItem {
    padding-bottom: 0
}

.RadPanelBar .rpExpandable .rpExpandHandle, .RadPanelBar .rpExpanded .rpExpandHandle {
    display: block;
    float: right;
    height: 15px;
    width: 15px;
    margin: 5px 5px 0 0
}

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle, .RadPanelBar .rpGroup .rpExpandable .rpExpandHandle {
    margin: 4px 2px 0 0
}

.RadPanelBar_rtl .rpExpandable .rpExpandHandle, .RadPanelBar_rtl .rpExpanded .rpExpandHandle {
    float: left;
    margin: 5px 0 0 5px
}

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle, .RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle {
    margin: 4px 0 0 5px
}

@media print {
    .RadPanelBar div.rpSlide, .RadPanelBar li.rpItem, .RadPanelBar a.rpLink {
        overflow: visible
    }

    .RadPanelBar ul.rpGroup {
        overflow: visible !important
    }
}
/* END Telerik.Web.UI.Skins.PanelBar.css */
/* START Telerik.Web.UI.Skins.TabStrip.css */
.RadTabStrip, .RadTabStripVertical {
    margin: 0;
    padding: 0;
    *zoom: 1
}

    .RadTabStrip:after, .RadTabStripVertical:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

    .RadTabStrip .rtsLevel, .RadTabStripVertical .rtsLevel {
        *zoom: 1;
        overflow: hidden
    }

        .RadTabStrip .rtsLevel:after, .RadTabStripVertical .rtsLevel:after {
            content: "";
            height: 0;
            clear: both;
            display: block
        }

    .RadTabStrip .rtsScroll, .RadTabStripVertical .rtsScroll {
        *zoom: 1;
        overflow: hidden
    }

        .RadTabStrip .rtsScroll:after, .RadTabStripVertical .rtsScroll:after {
            content: "";
            height: 0;
            clear: both;
            display: block
        }

    .RadTabStrip .rtsPrevArrow, .RadTabStrip .rtsNextArrow, .RadTabStrip .rtsPrevArrowDisabled, .RadTabStrip .rtsNextArrowDisabled, .RadTabStripVertical .rtsPrevArrow, .RadTabStripVertical .rtsNextArrow, .RadTabStripVertical .rtsPrevArrowDisabled, .RadTabStripVertical .rtsNextArrowDisabled {
        margin: 5px 0 0 0;
        width: 18px;
        height: 18px;
        outline: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 18px;
        text-indent: -9999px;
        overflow: hidden;
        display: block
    }

    .RadTabStrip .rtsUL, .RadTabStripVertical .rtsUL {
        margin: 0;
        padding: 0;
        list-style: none;
        *zoom: 1;
        float: left;
        display: inline;
        overflow: hidden
    }

        .RadTabStrip .rtsUL:after, .RadTabStripVertical .rtsUL:after {
            content: "";
            height: 0;
            clear: both;
            display: block
        }

    .RadTabStrip .rtsLI, .RadTabStripVertical .rtsLI {
        margin: 0;
        padding: 0;
        *zoom: 1;
        list-style: none;
        line-height: inherit;
        overflow: hidden
    }

        .RadTabStrip .rtsLI:after, .RadTabStripVertical .rtsLI:after {
            content: "";
            height: 0;
            clear: both;
            display: block
        }

    .RadTabStrip .rtsLink, .RadTabStripVertical .rtsLink {
        padding-left: 9px;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        display: block
    }

    .RadTabStrip .rtsLevel .rtsOut, .RadTabStrip .rtsLevel .rtsIn, .RadTabStrip .rtsLevel .rtsTxt, .RadTabStripVertical .rtsLevel .rtsOut, .RadTabStripVertical .rtsLevel .rtsIn, .RadTabStripVertical .rtsLevel .rtsTxt {
        text-decoration: inherit
    }

    .RadTabStrip .rtsOut, .RadTabStripVertical .rtsOut {
        padding-right: 9px;
        display: block
    }

    .RadTabStrip .rtsIn, .RadTabStripVertical .rtsIn {
        padding: 0 5px;
        display: block
    }

    .RadTabStrip .rtsImg, .RadTabStripVertical .rtsImg {
        margin-top: -2px;
        border: 0;
        vertical-align: middle
    }

    .RadTabStrip .rtsTxt, .RadTabStripVertical .rtsTxt {
        display: inline-block
    }

    .RadTabStrip .rtsImg + .rtsTxt, .RadTabStripVertical .rtsImg + .rtsTxt {
        display: -moz-inline-box;
        display: inline-block
    }

    .RadTabStrip .rtsLevel1 .rtsTxt, .RadTabStripVertical .rtsLevel1 .rtsTxt {
        padding: 0 5px
    }

    .RadTabStrip a.rtsLink:focus, .RadTabStripVertical a.rtsLink:focus {
        outline: 0;
        *outline: 1px dotted #555;
        position: relative;
        *position: static
    }

    .RadTabStrip a.rtsLink:focus, .RadTabStripVertical a.rtsLink:focus {
        outline-offset: -2px
    }

        .RadTabStrip a.rtsLink:focus:after, .RadTabStripVertical a.rtsLink:focus:after {
            content: "";
            border: 1px dotted #555;
            display: block;
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            bottom: 0
        }

:root .RadTabStrip a.rtsLink:focus:after, :root .RadTabStripVertical a.rtsLink:focus:after {
    content: none;
    display: none
}

.RadTabStrip a.rtsClicked:focus, .RadTabStripVertical a.rtsClicked:focus {
    outline: 0
}

.RadTabStrip .rtsDisabled, .RadTabStripVertical .rtsDisabled {
    cursor: default
}

.RadTabStrip .rtsSeparator, .RadTabStripVertical .rtsSeparator {
    height: 26px
}

.RadTabStrip .rtsLevel {
    width: 100%;
    clear: both;
    position: relative;
    *position: static;
    padding-top: 1px
}

.RadTabStrip .rtsLevel1 {
    padding-top: 0
}

.RadTabStrip .rtsLevel.rtsCenter {
    text-align: center
}

.RadTabStrip .rtsScroll {
    width: 100%;
    height: 26px;
    white-space: nowrap
}

.RadTabStrip .rtsPrevArrow {
    background-position: 0 -208px
}

    .RadTabStrip .rtsPrevArrow:hover {
        background-position: -36px -208px
    }

.RadTabStrip .rtsPrevArrowDisabled, .RadTabStrip .rtsPrevArrowDisabled:hover {
    background-position: -72px -208px
}

.RadTabStrip .rtsNextArrow {
    background-position: -18px -208px
}

    .RadTabStrip .rtsNextArrow:hover {
        background-position: -54px -208px
    }

.RadTabStrip .rtsNextArrowDisabled, .RadTabStrip .rtsNextArrowDisabled:hover {
    background-position: -90px -208px
}

.RadTabStrip .rtsRight .rtsUL {
    float: right
}

.RadTabStrip .rtsCenter .rtsUL {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    float: none;
    vertical-align: bottom
}

.RadTabStrip .rtsLI {
    float: left;
    *float: none;
    display: inline;
    *zoom: 1
}

.RadTabStrip .rtsLink {
    text-align: center
}

.RadTabStrip .rtsSeparator {
    height: 26px
}

.RadTabStrip .rtsBreak {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    clear: left;
    overflow: hidden
}

.RadTabStripVertical {
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline
}

    .RadTabStripVertical .rtsLevel {
        height: 100%;
        _width: 150px;
        float: left;
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline
    }

    .RadTabStripVertical .rtsHasWidth {
        width: 100%
    }

    .RadTabStripVertical .rtsPrevArrow {
        background-position: 0 -228px
    }

        .RadTabStripVertical .rtsPrevArrow:hover {
            background-position: -36px -228px
        }

    .RadTabStripVertical .rtsPrevArrowDisabled, .RadTabStripVertical .rtsPrevArrowDisabled:hover {
        background-position: -72px -228px
    }

    .RadTabStripVertical .rtsNextArrow {
        background-position: -18px -228px
    }

        .RadTabStripVertical .rtsNextArrow:hover {
            background-position: -54px -228px
        }

    .RadTabStripVertical .rtsNextArrowDisabled, .RadTabStripVertical .rtsNextArrowDisabled:hover {
        background-position: -90px -228px
    }

    .RadTabStripVertical .rtsHasWidth .rtsUL {
        width: 100%
    }

    .RadTabStripVertical .rtsLI {
        display: block;
        *width: 130px;
        *float: left;
        *clear: both
    }

    .RadTabStripVertical .rtsHasWidth .rtsLI {
        width: 100%
    }

    .RadTabStripVertical .rtsLink {
        text-align: right
    }

    .RadTabStripVertical .rtsSeparator {
        height: 2px;
        *line-height: 0;
        *font-size: 0;
        display: block
    }

    .RadTabStripVertical .rtsLink, .RadTabStripVertical .rtsLI .rtsDisabled:hover {
        background-position: 0 0
    }

        .RadTabStripVertical .rtsLink:hover {
            background-position: 0 -200px
        }

    .RadTabStripVertical .rtsSelected, .RadTabStripVertical .rtsSelected:hover {
        background-position: 0 -400px
    }

.RadTabStrip_rtl .rtsScroll {
    float: left
}

.RadTabStrip_rtl .rtsUL.rtsScroll {
    _float: left !important;
    float: left
}

.RadTabStrip_rtl .rtsUL {
    float: right
}

.RadTabStrip_rtl .rtsLI {
    float: right;
    *float: none
}

.RadTabStripRight .rtsLevel {
    float: right
}

.rtsDetachedDropClueContainer {
    display: none;
    position: absolute;
    z-index: 9000;
    top: 0;
    left: 0
}

.rtsDropClue {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9000
}

.rtsDropClueTop {
    margin-top: -10px;
    margin-left: -5px
}

.rtsDropClueBottom {
    margin-top: 0;
    margin-left: -5px
}

.rtsDropClueLeft {
    margin-top: -5px;
    margin-left: -10px
}

.rtsDropClueRight {
    margin-top: -5px;
    margin-left: 0
}

.rtsDetachedTabContainer {
    margin: 10px 0 0 10px;
    position: absolute;
    z-index: 9000;
    display: none
}

    .rtsDetachedTabContainer .rtsGhostTab {
        padding: 2px 10px;
        border: 1px solid;
        background-position: 0 0;
        background-repeat: repeat-x;
        overflow: hidden;
        white-space: nowrap
    }

@media screen and (min-width:50px) {
    :root .RadTabStripHorizontal .rtsScroll {
        width: auto
    }

        :root .RadTabStripHorizontal .rtsScroll .rtsLI {
            float: none;
            display: inline-block
        }

    :root .RadTabStripVertical .rtsScroll .rtsLI {
        float: none
    }
}
/* END Telerik.Web.UI.Skins.TabStrip.css */
/* START Telerik.Web.UI.Skins.Grid.css */
.RadGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgEditForm table {
    border-collapse: separate;
    border-spacing: 0
}

.RadGrid .rgRow, .RadGrid .rgAltRow, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgPager, .RadGrid .rgGroupPanel, .RadGrid .rgGroupHeader {
    cursor: default
}

.RadGrid input {
    line-height: normal
}

    .RadGrid input[type="image"] {
        cursor: pointer
    }

.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {
    padding-left: 7px;
    padding-right: 7px
}

.RadGrid .rgClipCells .rgHeader, .RadGrid .rgClipCells .rgFilterRow > td, .RadGrid .rgClipCells .rgRow > td, .RadGrid .rgClipCells .rgAltRow > td, .RadGrid .rgClipCells .rgEditRow > td, .RadGrid .rgClipCells .rgFooter > td {
    overflow: hidden
}

.RadGrid .rgSave, .RadGrid .rgAdd, .RadGrid .rgRefresh, .RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, .RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, .RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, .RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, .RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, .RadGrid .rgExpCSV {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer
}

.RadGrid .rgBatchChanged {
    background-image: url('/WebResource.axd?d=9wIC_ROF9NynLIk0uappy3uh0uPHit3T_XLABnqcUEVBN5HC1KNsRlTmfYWYFHEZh5Rk_I535Cza_loT1bT-465WyTyywsSaqeRW8dSkSMxyH3yff2dDdNRyrF4UfP64BlOEXA2&t=636977504156134363');
    background-position: 0 0;
    background-repeat: no-repeat
}

.RadGrid .rgSave {
    background-position: 0 -1825px;
    height: 18px;
    width: 18px
}

.RadGrid .rgSave, .RadGrid .rgCancel {
    margin: 0 3px 0 10px
}

.RadGrid .rgBatchContainer {
    max-width: 90%
}

.RadGrid .rgGroupItem input, .RadGrid .rgCommandRow img, .RadGrid .rgCommandRow a, .RadGrid .rgHeader input {
    vertical-align: middle
}

.RadGrid .rgFilterRow img, .RadGrid .rgFilterRow input {
    vertical-align: middle
}

.RadGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline-block;
    vertical-align: middle
}

* + html .RadGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline
}

.RadGrid .rgPager img {
    vertical-align: middle
}

.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
    padding-top: 4px;
    padding-bottom: 3px
}

.RadGrid table.rgMasterTable tr .rgDragCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center
}

.RadGrid .rgDrag {
    width: 15px;
    height: 15px;
    cursor: url('/WebResource.axd?d=zygyn5bPuSx4K1F5VvdlQGLi2D946LKyRI6bZY3hn7Tw3CAqzWBwWbhymCRZcjxx6fNSJOBxyNt13M0JxdcE0NcCXMhnq6jVZVvfBV79oRli9UYz11QTxRUU3G1BbRP4oEdPuw2&t=636977504156134363'),move
}

.RadGrid .rgPager .rgStatus {
    width: 35px;
    padding: 3px 0 2px
}

.RadGrid .rgStatus div {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: 0;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -2222px
}

.RadGrid .rgPager td {
    padding: 0
}

.RadGrid td.rgPagerCell {
    border: 0;
    padding: 5px 0 4px
}

.RadGrid .rgWrap {
    float: left;
    padding: 0 10px;
    line-height: 22px;
    white-space: nowrap
}

.RadGrid .rgArrPart1 {
    padding-right: 0
}

.RadGrid .rgArrPart2 {
    padding-left: 0
}

.RadGrid .rgInfoPart {
    float: right
}

    .RadGrid .rgInfoPart strong {
        font-weight: normal
    }

.RadGrid .rgArrPart1 img, .RadGrid .rgArrPart2 img {
    border: 0;
    margin: -3px 1px 0
}

.RadGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
    width: 22px;
    height: 22px;
    vertical-align: top
}

.RadGrid .NextPrev .rgPageFirst, .RadGrid .NextPrev .rgPagePrev, .RadGrid .NextPrev .rgPageNext, .RadGrid .NextPrev .rgPageLast {
    vertical-align: middle
}

.RadGrid .rgPageFirst, .RadGrid .rgPagePrev {
    margin-right: 1px
}

.RadGrid .rgPageNext, .RadGrid .rgPageLast {
    margin-left: 1px
}

.RadGrid .rgPager .rgPagerButton {
    height: 22px;
    border-style: solid;
    border-width: 1px;
    margin: 0 14px 0 0;
    padding: 0 4px 2px;
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
    cursor: pointer
}

.RadGrid .rgNumPart {
    padding: 0
}

.RadGrid .NumericPages .rgNumPart {
    padding: 0 10px
}

.RadGrid .rgNumPart a {
    float: left;
    line-height: 22px;
    margin: 0;
    padding: 0 5px 0 0;
    text-decoration: none
}

.RadGrid .rgNumPart span {
    float: left;
    padding: 0 0 0 5px
}

.RadGrid .rgNumPart a:hover span {
    cursor: pointer
}

.RadGrid .rgNumPart a.rgCurrentPage {
    cursor: default
}

    .RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
        cursor: default
    }

.RadGrid .NextPrevNumericAndAdvanced .rgAdvPart {
    float: none;
    text-align: center
}

.RadGrid .rgPager .RadSlider {
    float: left;
    margin: 0 10px 0 0
}

.RadGrid .rgPagerLabel {
    margin: 0 4px 0 0;
    vertical-align: top
}

.RadGrid .rgPager .RadComboBox {
    margin: 0 4px 0 0;
    vertical-align: top
}

.RadGrid .rgPager .RadInput {
    margin: 0 4px 0 0;
    vertical-align: top;
    display: inline-block
}

.RadGrid .rgPager .riTextBox {
    height: 15px
}

.RadGrid div.rgHeaderWrapper {
    border-left: 0 none;
    border-right: 0 none;
    padding: 0;
    overflow: hidden
}

.RadGrid .rgFooterWrapper {
    border-top-style: solid;
    overflow: hidden
}

.rgCellSelectorArea {
    position: absolute;
    z-index: 1000100;
    opacity: .1;
    -moz-opacity: .1;
    filter: alpha(opacity=10)
}

.rgNoScrollImage div.rgHeaderDiv {
    background-image: none
}

.rgMultiHeader {
    overflow: hidden
}

    .rgMultiHeader .rgHeaderDiv {
        margin-left: -1px
    }

.rgHeaderWrapper .rgHeaderDiv {
    margin-bottom: -1px;
    margin-right: -1px;
    border-right: 1px solid transparent
}

.rgFooterWrapper .rgFooterDiv {
    margin-top: -1px
}

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: left;
    font-weight: normal
}

    .RadGrid .rgHeader a {
        text-decoration: none
    }

.RadGrid .rgCheck input {
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: default
}

.RadGrid .rgRotateHeader {
    vertical-align: top
}

    .RadGrid .rgRotateHeader a, .RadGrid .rgRotateHeader span {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 11px 11px;
        -moz-transform-origin: 11px 11px;
        -o-transform-origin: 11px 11px;
        transform-origin: 11px 11px;
        writing-mode: tb-rl;
        display: inline-block
    }

._Telerik_IE9 .RadGrid .rgRotateHeader a, ._Telerik_IE9 .RadGrid .rgRotateHeader span {
    transform: rotate(0)
}

.rfdCheckbox .RadGrid .rgCheck input {
    height: 20px
}

.rgPager .riSingle .riTextBox {
    height: 22px
}

* + html .RadGrid .rgPager .RadComboBox {
    margin-top: -1px
}

* html .RadGrid .rgPager .RadComboBox {
    margin-top: -1px;
    padding: 1px 0
}

.RadGrid .rgPagerTextBox {
    text-align: center
}

.GridReorderTop, .GridReorderBottom {
    width: 9px;
    height: 9px;
    margin: 0 0 0 -5px;
    padding: 0
}

.RadGrid .rgFilterRow td {
    padding-top: 4px;
    padding-bottom: 7px
}

.RadGrid .rgFilter {
    width: 22px;
    height: 22px;
    margin: 0 0 0 2px
}

.RadGrid .rgFilterBox {
    border-width: 1px;
    border-style: solid;
    margin: 0;
    height: 15px;
    padding: 2px 1px 3px;
    font-size: 12px;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.rgFilterRow .riSingle .riTextBox {
    height: 22px
}

.RadGrid .rgFilterRow .RadInput, .RadGrid .rgFilterRow .RadRating {
    display: inline-block;
    vertical-align: middle
}

* + html .RadGrid .rgFilterRow .RadRating, * html .RadGrid .rgFilterRow .RadRating {
    display: inline;
    zoom: 1
}

div.RadMenu.GridContextMenu .rmContent {
    white-space: normal;
    padding-left: 35px;
    padding-right: 10px
}

.GridContextMenu li.rgHCMFilter {
    background: 0
}

.GridContextMenu .rmLeftImage {
    background-repeat: no-repeat;
    background-color: transparent
}

.GridContextMenu .rmArrow {
    z-index: 2000
}

.RadMenu .rmGroup .rgHCMItem .rmText {
    width: 161px;
    padding: 6px 5px 5px 30px
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd, .rgHCMItem .rgHCMFilter {
    display: block
}

.rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd {
    padding-top: 5px;
    line-height: 12px
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .RadComboBox {
    margin: 0 0 5px
}

.rgHCMItem .rgHCMAnd {
    margin: 0 0 5px;
    margin-top: 5px
}

.rgHCMItem .rgHCMFilter {
    margin-top: 11px
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMFilter {
    width: 160px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 0;
    font-size: 12px;
    cursor: pointer
}

.RadFilterMenu_CheckList .RadListBox {
    display: block;
    margin-bottom: 7px;
    margin-top: 5px;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    border-left: 0 none
}

.RadFilterMenu_CheckList div.rlbGroup {
    background: 0;
    border-left: none
}

.RadFilterMenu_CheckList li.rlbItem {
    padding-left: 3px
}

.RadFilterMenu_CheckList .rlbGroup li.rlbActive {
    padding-left: 2px
}

.RadFilterMenu_CheckList ul.rmGroup li.rmLast {
    padding-bottom: 5px
}

.RadFilterMenu_CheckList .rmGroup div.rmText {
    padding: 0 10px 0 0;
    margin-left: 0
}

.RadFilterMenu_CheckList .rlbCheck {
    float: left;
    clear: both;
    margin-right: 12px
}

.RadFilterMenu_CheckList span.rlbText {
    display: block;
    padding-left: 30px
}

.RadFilterMenu_CheckList .rgFilterApply, .RadFilterMenu_CheckList .rgFilterCancel {
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    padding: 0 6px 2px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid
}

.RadFilterMenu_CheckList .rgFilterApply {
    margin-left: 5px;
    margin-left: 33px
}

.RadGrid .rgGroupPanel {
    height: 24px
}

.RadGrid .rgGroupItem {
    padding: 0 2px 1px 3px;
    line-height: 20px;
    font-weight: normal;
    vertical-align: middle
}

.RadGrid .rgGroupHeader td {
    padding-top: 0;
    padding-bottom: 0
}

    .RadGrid .rgGroupHeader td p {
        display: inline;
        margin: 0;
        padding: 0 10px
    }

    .RadGrid .rgGroupHeader td div div {
        top: -0.8em;
        padding: 0 10px
    }

.RadGrid table.rgMasterTable tr .rgGroupCol, .RadGrid table.rgMasterTable tr .rgExpandCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center
}
/*\*/

* html .RadGrid .rgGroupHeader td div div {
    top: 0
}
    /**/

    .RadGrid .rgGroupHeader td div div div {
        top: 0;
        padding: 0;
        border: 0
    }

.RadGrid .rgUpdate, .RadGrid .rgCancel {
    width: 18px;
    height: 18px
}

.RadGrid .rgDetailTable {
    border-style: solid;
    border-width: 1px;
    border-right-width: 0
}

.RadGrid .rgAdd, .RadGrid .rgRefresh {
    width: 18px;
    height: 18px;
    vertical-align: bottom
}

* + html .RadGrid .rgPager .rgPagerButton, * + html .RadGrid .rgPagerLabel, * + html .RadGrid .rgPager .RadComboBox, * + html .RadGrid .rgAdd, * + html .RadGrid .rgRefresh {
    vertical-align: middle
}

* html .RadGrid .rgPager .rgPagerButton, * html .RadGrid .rgPagerLabel {
    vertical-align: middle
}

* html .RadGrid .rgPager .RadComboBox, * html .RadGrid .rgPager .RadInput {
    vertical-align: middle
}

* html .RadGrid .rgAdd, * html .RadGrid .rgRefresh {
    vertical-align: middle
}

.RadGrid .rgEdit, .RadGrid .rgDel {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-indent: -9999px
}

.rgPager thead, .rgPager caption, .rgCommandTable thead {
    display: none
}

.RadGridRTL .rgHeader, .RadGridRTL .rgResizeCol {
    text-align: right
}

.RadGridRTL .rgPager .rgStatus {
    border-right: 0;
    border-left-width: 1px
}

.RadGridRTL .rgWrap {
    float: right
}

.RadGridRTL .rgArrPart1 {
    padding: 0 10px 0 5px
}

.RadGridRTL .rgArrPart2 {
    padding: 0 5px 0 10px
}

.RadGridRTL .rgPageFirst, .RadGridRTL .rgPagePrev {
    margin-right: 0;
    margin-left: 1px
}

.RadGridRTL .rgPageNext, .RadGridRTL .rgPageLast {
    margin-left: 0;
    margin-right: 1px
}

.RadGridRTL .rgInfoPart {
    float: left
}

.RadGridRTL .rgNumPart a {
    float: right
}

.RadGridRTL .rgDetailTable {
    border-right-width: 1px;
    border-left-width: 0
}

.RadGridRTL input.rgRefresh, .RadGridRTL input.rgAdd {
    margin: 0 0 0 4px
}

.RadGridRTL .rgInfoPart {
    text-align: left
}

.RadGridRTL .rgSliderLabel {
    float: right
}

.RadGridRTL .rgPager div.RadSlider {
    float: right;
    margin: 0 0 0 10px
}
/* END Telerik.Web.UI.Skins.Grid.css */
/* START Telerik.Web.UI.Skins.ComboBox.css */
.RadComboBox {
    margin: 0;
    padding: 0;
    *zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    text-align: left;
    vertical-align: middle;
    _vertical-align: top;
    white-space: nowrap
}

    .RadComboBox:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

    .RadComboBox table {
        margin: 0;
        padding: 0;
        border: 0;
        background: 0;
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        width: 100%;
        border-collapse: collapse;
        vertical-align: top
    }

    .RadComboBox select {
        margin-bottom: 0;
        padding: 0;
        height: 22px
    }

    .RadComboBox .rcbInputCell, .RadComboBox .rcbArrowCell {
        margin: 0;
        padding: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        *zoom: 1
    }

    .RadComboBox .rcbInputCell {
        width: 100%;
        height: 20px;
        _height: 22px;
        line-height: 20px;
        _line-height: 22px;
        text-align: left;
        vertical-align: middle
    }

    .RadComboBox table td.rcbInputCell {
        padding: 0 4px 0 5px;
        border-width: 0
    }

    .RadComboBox input, .RadComboBox input:focus {
        height: auto;
        box-shadow: none;
        outline: 0
    }

    .RadComboBox .rcbInput {
        margin: 0;
        padding: 0;
        border: 0;
        background: 0;
        padding: 2px 0 1px;
        _padding: 2px 0 0;
        width: 100%;
        _height: 18px;
        outline: 0;
        -webkit-appearance: none
    }

    .RadComboBox .rcbDisabled .rcbInput {
        cursor: default
    }

    .RadComboBox .rcbEmptyMessage {
        font-style: italic
    }

    .RadComboBox .rcbArrowCell {
        width: 18px
    }

        .RadComboBox .rcbArrowCell a {
            width: 18px;
            height: 22px;
            position: relative;
            outline: 0;
            font-size: 0;
            line-height: 1px;
            text-decoration: none;
            text-indent: 9999px;
            display: block;
            overflow: hidden;
            cursor: default;
            *zoom: 1
        }

    .RadComboBox table td.rcbArrowCell {
        padding: 0;
        border-width: 0
    }

    .RadComboBox .rcbArrowCellHidden, .RadComboBox .rcbArrowCellHidden a {
        width: 3px
    }

    .RadComboBox .rcbReadOnly .rcbInput {
        cursor: default
    }

    .RadComboBox .rcbLabel {
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
        line-height: 22px;
        *zoom: 1
    }

.RadComboBox_rtl {
    text-align: right
}

    .RadComboBox_rtl .rcbInputCell {
        padding-right: 5px;
        padding-left: 4px
    }

    .RadComboBox_rtl .rcbInput {
        text-align: right
    }

    .RadComboBox_rtl .rcbLabel {
        *margin-right: 5px;
        padding: 0 0 0 10px;
        text-align: right
    }

.rcbSlide {
    _height: 1px;
    float: left;
    display: none;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.RadComboBoxDropDown {
    *zoom: 1;
    border: 1px solid;
    text-align: left;
    cursor: default;
    position: absolute;
    margin: 0;
    padding: 0
}

    .RadComboBoxDropDown:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

    .RadComboBoxDropDown input {
        margin: 0 3px 3px 4px;
        padding: 0
    }

@media screen\9 {
    .RadComboBoxDropDown input {
        margin: 0
    }
}

.RadComboBoxDropDown label {
    line-height: inherit;
    font-weight: inherit
}

.RadComboBoxDropDown.rcbAutoWidth {
    min-width: 158px
}

    .RadComboBoxDropDown.rcbAutoWidth .rcbList {
        white-space: nowrap
    }

@media \0screen {
    .RadComboBoxDropDown.rcbAutoWidth .rcbList {
        min-width: 148px
    }
}

.RadComboBoxDropDown.rcbAutoWidthResizer .rcbScroll {
    overflow: scroll !important;
    overflow-x: visible !important
}

.RadComboBoxDropDown .rcbScroll {
    *zoom: 1;
    position: relative;
    overflow: auto;
    margin: 0;
    padding: 0
}

    .RadComboBoxDropDown .rcbScroll:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

.RadComboBoxDropDown .rcbHeader, .RadComboBoxDropDown .rcbFooter {
    *zoom: 1;
    padding: 5px 7px 4px;
    background-repeat: repeat-x
}

    .RadComboBoxDropDown .rcbHeader:after, .RadComboBoxDropDown .rcbFooter:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

.RadComboBoxDropDown .rcbHeader {
    margin-bottom: 1px;
    border-bottom: 1px solid
}

.RadComboBoxDropDown .rcbFooter {
    margin-top: 1px;
    border-top: 1px solid
}

.RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    *zoom: 1;
    position: relative
}

    .RadComboBoxDropDown .rcbList:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

.RadComboBoxDropDown li {
    line-height: inherit
}

.RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled, .RadComboBoxDropDown .rcbLoading, .RadComboBoxDropDown .rcbCheckAllItems, .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    *zoom: 1;
    margin: 0 1px;
    padding: 2px 6px;
    height: auto;
    min-height: 13px;
    background-repeat: repeat-x
}

    .RadComboBoxDropDown .rcbItem:after, .RadComboBoxDropDown .rcbHovered:after, .RadComboBoxDropDown .rcbDisabled:after, .RadComboBoxDropDown .rcbLoading:after, .RadComboBoxDropDown .rcbCheckAllItems:after, .RadComboBoxDropDown .rcbCheckAllItemsHovered:after {
        content: "";
        height: 0;
        clear: both;
        display: block
    }

    .RadComboBoxDropDown .rcbItem > label, .RadComboBoxDropDown .rcbHovered > label, .RadComboBoxDropDown .rcbDisabled > label, .RadComboBoxDropDown .rcbLoading > label, .RadComboBoxDropDown .rcbCheckAllItems > label, .RadComboBoxDropDown .rcbCheckAllItemsHovered > label {
        margin: -2px -6px;
        padding: 4px 6px 2px;
        display: block
    }

.RadComboBoxDropDown .rcbNoWrap .rcbItem, .RadComboBoxDropDown .rcbNoWrap .rcbHovered, .RadComboBoxDropDown .rcbNoWrap .rcbDisabled, .RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap
}

.RadComboBoxDropDown .rcbDisabled {
    cursor: default
}

.RadComboBoxDropDown .rcbLoading {
    text-align: center
}

.RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold
}

.RadComboBoxDropDown .rcbCheckBox, .RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    vertical-align: middle
}

.RadComboBoxDropDown .RadComboBoxDropDown .rcbCheckAllItems {
    background-image: url('/WebResource.axd?d=oGasirQJ2aHNOH3AkskPUSmfMclbD6CaX3k_Tar2YfSq3ZdlTqI-E77HaaMwRbSJcFiBVC7kRpAV5kLqvelIoVfTbpSCVt_J08pIP2hNiSqeXyNphAmhVpDQmyMmpcpMO6WydCOTxreJKUtZSablIN3Qp0I1&t=636977504156134363');
    _background-image: none;
    background-position: 0 0;
    background-repeat: repeat-x
}

.RadComboBoxDropDown .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    background-position: 0 -20px
}

.RadComboBoxDropDown .rcbImage {
    margin: 0 6px 2px 0;
    vertical-align: middle
}

.RadComboBoxDropDown .rcbMoreResults {
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    background-repeat: repeat-x;
    position: relative;
    padding: 0 6px 0;
    text-align: center;
    margin-top: 1px
}

    .RadComboBoxDropDown .rcbMoreResults a {
        width: 15px;
        height: 9px;
        background-repeat: no-repeat;
        *font-size: 0;
        *line-height: 0;
        text-decoration: none;
        text-indent: -9999px;
        *text-indent: 0;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer
    }

    .RadComboBoxDropDown .rcbMoreResults span {
        height: 19px;
        line-height: 19px;
        display: inline-block;
        vertical-align: middle
    }

.RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 6px
}

.RadComboBoxDropDown .rcbSeparatedList .rcbItem, .RadComboBoxDropDown .rcbSeparatedList .rcbHovered, .RadComboBoxDropDown .rcbSeparatedList .rcbDisabled, .RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 12px
}

.RadComboBoxDropDown_rtl {
    text-align: right;
    direction: rtl
}

    .RadComboBoxDropDown_rtl .rcbImage {
        margin: 0 0 2px 6px
    }

    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbSeparator {
        padding-right: 6px
    }

    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbItem, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbHovered, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbDisabled, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbLoading {
        padding-right: 12px
    }

.RadComboBoxWithLabel {
    zoom: normal
}

    .RadComboBoxWithLabel table {
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        *margin-right: 5px;
        vertical-align: top
    }

@media screen and (min-width:550px) {
    .RadComboBoxDropDown_rtl .rcbItem, .RadComboBoxDropDown_rtl .rcbHovered, .RadComboBoxDropDown_rtl .rcbDisabled, .RadComboBoxDropDown_rtl .rcbLoading {
        padding: 2px 6px 2px 19px
    }
}
/* END Telerik.Web.UI.Skins.ComboBox.css */
