include bootstrap/container
include bootstrap/containerf
include bootstrap/col
include bootstrap/row

include content/article
include content/author

include mixins/ipsum
include mixins/style-guide

block content