extends ../base.pug
block main
    #TheContent
        #ThePageHeader
            #ctl00_PageBody_BackToPagePanel.PageHeaderCrumb
                a#ctl00_PageBody_BackToMgmtLink(causesvalidation='false', href='AccountManagement.aspx') << Back to Account Management
            .PageHeader2 Account History
            .PageHeaderToolbar
                #ctl00_PageBody_Toolbar.RadToolBar.RadToolBar_Horizontal.RadToolBar_T1.RadToolBar_T1_Horizontal(style='z-index:9000;')
                    .rtbOuter
                        .rtbMiddle
                            .rtbInner
                                ul.rtbUL
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Refresh
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Filter
                                    li.rtbSeparator
                                        span.rtbText
                                    li.rtbItem.rtbTemplate
                                        span.ToolbarText Quick Type Filter:
                                    li.rtbItem.rtbBtn.rtbChecked
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Shares
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Loans
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Certs
                                    li.rtbSeparator
                                        span.rtbText
                                    li.rtbItem.rtbTemplate
                                        span.ToolbarText Date Filter:
                                    li.rtbItem.rtbBtn.rtbChecked
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Today
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Prior Day
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText This Week
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Last Week
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText This Month
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Last Month
                                    li.rtbSeparator
                                        span.rtbText
                                    li.rtbItem.rtbDropDown
                                        a.rtbWrap.rtbExpandDown(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Download
                                                        span.rtbChoiceArrow
                                        .rtbSlide(style='display:none;')
                                            .RadToolBarDropDown.RadToolBarDropDown_T1
                                                ul.rtbActive.rtbGroup.rtbLevel1
                                                    li.rtbItem
                                                        a.rtbWrap(href='#')
                                                            img.rtbIcon(alt='', src='../../Res/images/csvexport.png')
                                                            span.rtbText CSV
                                                    li.rtbItem
                                                        a.rtbWrap(href='#')
                                                            img.rtbIcon(alt='', src='../../Res/images/mswordexport.png')
                                                            span.rtbText Word
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Print
                    input#ctl00_PageBody_Toolbar_ClientState(name='ctl00_PageBody_Toolbar_ClientState', type='hidden', autocomplete='off')
        #ctl00_PageBody_ctl00_PageBody_MessagesPanel.RadAjaxPanel(style='display: block;')
            #ctl00_PageBody_Messages(data-msg-mc='1', data-msg-showvalidationmsgs='0')
                table.messagesbg(cellspacing='0', cellpadding='2', border='0')
                    tbody
                        tr
                            td.messageimg
                                img(src='/WebResource.axd?d=eDT34HE6dTXqnxrbYsX2GbHkcsgTd1llUOHeFyTtR1hpLbbB282XKc_OsGwJldazk2B6-lhDzmnW4aSniawDqgNV2m-K--mjva-sx9rTAYYn7knci8JT4tkz17su6E8GrqHG0g5ZAk-20Jl1q89HNfBOKy81&t=636929169195064472', alt='message')
                            td.messagetext
                                | Filtered by Accounts: All Shares, Post Date: 07/11/2019, Searching: Credits/Debits, Results as of 07/11/2019 07:19:18 AM
        #ctl00_PageBody_FilterMessages(data-msg-mc='1', data-msg-checkvalidationgroup='1', data-msg-validationgroup='Filter', data-msg-showvalidationmsgs='1')
        #ctl00_PageBody_PageContent
            #ctl00_PageBody_FilterPanel(style='display:none;')
                .sectionhdg Filter
                .sectionbody
                    .filterform
                        .filterrow
                            .col1 Account Type:
                            .col2
                                #ctl00_PageBody_AccountType.RadComboBox.RadComboBox_T1(style='width:100%;white-space:normal;')
                                    table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                        tbody
                                            tr.rcbReadOnly
                                                td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                    input#ctl00_PageBody_AccountType_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$AccountType', type='text', value='Shares', readonly='readonly', autocomplete='off')
                                                td.rcbArrowCell.rcbArrowCellRight
                                                    a#ctl00_PageBody_AccountType_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                    .rcbSlide(style='z-index:6000;')
                                        #ctl00_PageBody_AccountType_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                            .rcbScroll.rcbWidth(style='width:100%;')
                                                ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                    li.rcbItem Shares
                                                    li.rcbItem Loans
                                                    li.rcbItem Certificates
                                    input#ctl00_PageBody_AccountType_ClientState(name='ctl00_PageBody_AccountType_ClientState', type='hidden', autocomplete='off')
                            .col3.colval
                                span#ctl00_PageBody_AccountTypeRequiredFieldValidator(data-val-controltovalidate='ctl00_PageBody_AccountType', data-val-errormessage='Account Type is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                    span#ctl00_PageBody_AccountTypeErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                            .col4 Account Number:
                            .col5
                                #ctl00_PageBody_ctl00_PageBody_AccountNumbersPanel.RadAjaxPanel(style='display: block;')
                                    #ctl00_PageBody_AccountNumbers.RadComboBox.RadComboBox_T1(style='width:175px;white-space:normal;')
                                        table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                            tbody
                                                tr.rcbReadOnly
                                                    td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                        input#ctl00_PageBody_AccountNumbers_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$AccountNumbers', type='text', value='', readonly='readonly', autocomplete='off')
                                                    td.rcbArrowCell.rcbArrowCellRight
                                                        a#ctl00_PageBody_AccountNumbers_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                        .rcbSlide(style='z-index:6000;')
                                            #ctl00_PageBody_AccountNumbers_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;width:325px;')
                                                .rcbScroll.rcbWidth(style='width:100%;')
                                                    .rcbCheckAllItems
                                                        label
                                                            input.rcbCheckAllItemsCheckBox(type='checkbox')
                                                            | Check All
                                        input#ctl00_PageBody_AccountNumbers_ClientState(name='ctl00_PageBody_AccountNumbers_ClientState', type='hidden', autocomplete='off')
                            .col6.colval
                                span#ctl00_PageBody_AccountNumbersRequiredFieldValidator1(data-val-controltovalidate='ctl00_PageBody_AccountNumbers', data-val-errormessage='An Account selection is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                    span#ctl00_PageBody_AccountNumbersErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                        .filterrow
                            .col1 Date Type:
                            .col2
                                #ctl00_PageBody_DateType.RadComboBox.RadComboBox_T1(style='width:100%;white-space:normal;')
                                    table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                        tbody
                                            tr.rcbReadOnly
                                                td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                    input#ctl00_PageBody_DateType_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$DateType', type='text', value='Post Date', readonly='readonly', autocomplete='off')
                                                td.rcbArrowCell.rcbArrowCellRight
                                                    a#ctl00_PageBody_DateType_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                    .rcbSlide(style='z-index:6000;')
                                        #ctl00_PageBody_DateType_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                            .rcbScroll.rcbWidth(style='width:100%;')
                                                ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                    li.rcbItem Post Date
                                                    li.rcbItem Effective Date
                                    input#ctl00_PageBody_DateType_ClientState(name='ctl00_PageBody_DateType_ClientState', type='hidden', autocomplete='off')
                            .col3.colval
                                span#ctl00_PageBody_DateTypeRequiredFieldValidator(data-val-controltovalidate='ctl00_PageBody_DateType', data-val-errormessage='Date Type is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                    span#ctl00_PageBody_DateTypeErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                            .col4 Posting Order:
                            .col5
                                #ctl00_PageBody_PostingOrder.RadComboBox.RadComboBox_T1(style='width:100%;white-space:normal;')
                                    table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                        tbody
                                            tr.rcbReadOnly
                                                td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                    input#ctl00_PageBody_PostingOrder_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$PostingOrder', type='text', value='Descending', readonly='readonly', autocomplete='off')
                                                td.rcbArrowCell.rcbArrowCellRight
                                                    a#ctl00_PageBody_PostingOrder_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                    .rcbSlide(style='z-index:6000;')
                                        #ctl00_PageBody_PostingOrder_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                            .rcbScroll.rcbWidth(style='width:100%;')
                                                ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                    li.rcbItem Descending
                                                    li.rcbItem Ascending
                                    input#ctl00_PageBody_PostingOrder_ClientState(name='ctl00_PageBody_PostingOrder_ClientState', type='hidden', autocomplete='off')
                            .col6.colval
                        .filterrow
                            .col1 Start Date:
                            .col2
                                #ctl00_PageBody_StartDate_wrapper.RadPicker.RadPicker_T1(style='display:inline-block;width:100%;')
                                    input#ctl00_PageBody_StartDate.rdfd_.radPreventDecorate(style='visibility:hidden;display:block;float:right;margin:0 0 -1px -1px;width:1px;height:1px;overflow:hidden;border:0;padding:0;', name='ctl00$PageBody$StartDate', type='text', value='2019-07-11', title='Visually hidden input created for functionality purposes.')
                                    table.rcTable.rcSingle(cellspacing='0', summary='Table holding date picker control for selection of dates.', style='width:100%;')
                                        caption(style='display:none;')
                                            | RadDatePicker
                                        thead(style='display:none;')
                                            tr
                                                th(scope='col') RadDatePicker
                                        tbody
                                            tr
                                                td.rcInputCell(style='width:100%;')
                                                    span#ctl00_PageBody_StartDate_dateInput_wrapper.riSingle.RadInput.RadInput_T1(style='display:block;width:100%;')
                                                        input#ctl00_PageBody_StartDate_dateInput.riTextBox.riEnabled(name='ctl00$PageBody$StartDate$dateInput', value='7/11/2019', type='text')
                                                        input#ctl00_PageBody_StartDate_dateInput_ClientState(name='ctl00_PageBody_StartDate_dateInput_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"2019-07-11-00-00-00","valueAsString":"2019-07-11-00-00-00","minDateStr":"1800-01-01-00-00-00","maxDateStr":"2099-12-31-00-00-00","lastSetTextBoxValue":"7/11/2019"}')
                                                td
                                                    a#ctl00_PageBody_StartDate_popupButton.rcCalPopup(title='Open the calendar popup.', href='#') Open the calendar popup.
                                                    #ctl00_PageBody_StartDate_calendar_wrapper(style='display:none;')
                                                        table#ctl00_PageBody_StartDate_calendar.RadCalendar.RadCalendar_T1(summary='Calendar control which enables the selection of dates.', cellspacing='0', border='0')
                                                            caption
                                                                span(style='display:none;') Calendar
                                                            thead
                                                                tr
                                                                    td.rcTitlebar
                                                                        table(cellspacing='0', summary='Title and navigation which can change and show the current year and month.', border='0')
                                                                            caption
                                                                                span(style='display:none;') Title and navigation
                                                                            thead
                                                                                tr(style='display:none;')
                                                                                    th(scope='col') Title and navigation
                                                                            tbody
                                                                                tr
                                                                                    td
                                                                                        a#ctl00_PageBody_StartDate_calendar_FNP.rcFastPrev(title='<<', href='#') <<
                                                                                    td
                                                                                        a#ctl00_PageBody_StartDate_calendar_NP.rcPrev(title='<', href='#') <
                                                                                    td#ctl00_PageBody_StartDate_calendar_Title.rcTitle July 2019
                                                                                    td
                                                                                        a#ctl00_PageBody_StartDate_calendar_NN.rcNext(title='>', href='#') >
                                                                                    td
                                                                                        a#ctl00_PageBody_StartDate_calendar_FNN.rcFastNext(title='>>', href='#') <<
                                                            tbody
                                                                tr
                                                                    td.rcMain
                                                                        table#ctl00_PageBody_StartDate_calendar_Top.rcMainTable(cellspacing='0', summary='Table containing all dates for the currently selected month.', border='0')
                                                                            caption
                                                                                span(style='display:none;') July 2019
                                                                            thead
                                                                                tr.rcWeek
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_0(title='Sunday', scope='col', abbr='Sun') S
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_1(title='Monday', scope='col', abbr='Mon') M
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_2(title='Tuesday', scope='col', abbr='Tue') T
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_3(title='Wednesday', scope='col', abbr='Wed') W
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_4(title='Thursday', scope='col', abbr='Thu') T
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_5(title='Friday', scope='col', abbr='Fri') F
                                                                                    th#ctl00_PageBody_StartDate_calendar_Top_cs_6(title='Saturday', scope='col', abbr='Sat') S
                                                                            tbody
                                                                                tr.rcRow
                                                                                    td.rcOtherMonth(title='Sunday, June 30, 2019')
                                                                                        a(href='#') 30
                                                                                    td(title='Monday, July 01, 2019')
                                                                                        a(href='#') 1
                                                                                    td(title='Tuesday, July 02, 2019')
                                                                                        a(href='#') 2
                                                                                    td(title='Wednesday, July 03, 2019')
                                                                                        a(href='#') 3
                                                                                    td(title='Thursday, July 04, 2019')
                                                                                        a(href='#') 4
                                                                                    td(title='Friday, July 05, 2019')
                                                                                        a(href='#') 5
                                                                                    td.rcWeekend(title='Saturday, July 06, 2019')
                                                                                        a(href='#') 6
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 07, 2019')
                                                                                        a(href='#') 7
                                                                                    td(title='Monday, July 08, 2019')
                                                                                        a(href='#') 8
                                                                                    td(title='Tuesday, July 09, 2019')
                                                                                        a(href='#') 9
                                                                                    td(title='Wednesday, July 10, 2019')
                                                                                        a(href='#') 10
                                                                                    td(title='Thursday, July 11, 2019')
                                                                                        a(href='#') 11
                                                                                    td(title='Friday, July 12, 2019')
                                                                                        a(href='#') 12
                                                                                    td.rcWeekend(title='Saturday, July 13, 2019')
                                                                                        a(href='#') 13
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 14, 2019')
                                                                                        a(href='#') 14
                                                                                    td(title='Monday, July 15, 2019')
                                                                                        a(href='#') 15
                                                                                    td(title='Tuesday, July 16, 2019')
                                                                                        a(href='#') 16
                                                                                    td(title='Wednesday, July 17, 2019')
                                                                                        a(href='#') 17
                                                                                    td(title='Thursday, July 18, 2019')
                                                                                        a(href='#') 18
                                                                                    td(title='Friday, July 19, 2019')
                                                                                        a(href='#') 19
                                                                                    td.rcWeekend(title='Saturday, July 20, 2019')
                                                                                        a(href='#') 20
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 21, 2019')
                                                                                        a(href='#') 21
                                                                                    td(title='Monday, July 22, 2019')
                                                                                        a(href='#') 22
                                                                                    td(title='Tuesday, July 23, 2019')
                                                                                        a(href='#') 23
                                                                                    td(title='Wednesday, July 24, 2019')
                                                                                        a(href='#') 24
                                                                                    td(title='Thursday, July 25, 2019')
                                                                                        a(href='#') 25
                                                                                    td(title='Friday, July 26, 2019')
                                                                                        a(href='#') 26
                                                                                    td.rcWeekend(title='Saturday, July 27, 2019')
                                                                                        a(href='#') 27
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 28, 2019')
                                                                                        a(href='#') 28
                                                                                    td(title='Monday, July 29, 2019')
                                                                                        a(href='#') 29
                                                                                    td(title='Tuesday, July 30, 2019')
                                                                                        a(href='#') 30
                                                                                    td(title='Wednesday, July 31, 2019')
                                                                                        a(href='#') 31
                                                                                    td.rcOtherMonth(title='Thursday, August 01, 2019')
                                                                                        a(href='#') 1
                                                                                    td.rcOtherMonth(title='Friday, August 02, 2019')
                                                                                        a(href='#') 2
                                                                                    td.rcOtherMonth(title='Saturday, August 03, 2019')
                                                                                        a(href='#') 3
                                                                                tr.rcRow
                                                                                    td.rcOtherMonth(title='Sunday, August 04, 2019')
                                                                                        a(href='#') 4
                                                                                    td.rcOtherMonth(title='Monday, August 05, 2019')
                                                                                        a(href='#') 5
                                                                                    td.rcOtherMonth(title='Tuesday, August 06, 2019')
                                                                                        a(href='#') 6
                                                                                    td.rcOtherMonth(title='Wednesday, August 07, 2019')
                                                                                        a(href='#') 7
                                                                                    td.rcOtherMonth(title='Thursday, August 08, 2019')
                                                                                        a(href='#') 8
                                                                                    td.rcOtherMonth(title='Friday, August 09, 2019')
                                                                                        a(href='#') 9
                                                                                    td.rcOtherMonth(title='Saturday, August 10, 2019')
                                                                                        a(href='#') 10
                                                        input#ctl00_PageBody_StartDate_calendar_SD(type='hidden', name='ctl00_PageBody_StartDate_calendar_SD', value='[]')
                                                        input#ctl00_PageBody_StartDate_calendar_AD(type='hidden', name='ctl00_PageBody_StartDate_calendar_AD', value='[[1800,1,1],[2099,12,30],[2019,7,11]]')
                                    input#ctl00_PageBody_StartDate_ClientState(name='ctl00_PageBody_StartDate_ClientState', type='hidden', value='{"minDateStr":"1800-01-01-00-00-00","maxDateStr":"2099-12-31-00-00-00"}', autocomplete='off')
                            .col3.colval
                                span#ctl00_PageBody_StartDateRequired(data-val-controltovalidate='ctl00_PageBody_StartDate', data-val-errormessage='Start Date is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                    span#ctl00_PageBody_StartDateRequiredErrorIndicator
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                            .col4 End Date:
                            .col5
                                #ctl00_PageBody_EndDate_wrapper.RadPicker.RadPicker_T1(style='display:inline-block;width:100%;')
                                    input#ctl00_PageBody_EndDate.rdfd_.radPreventDecorate(style='visibility:hidden;display:block;float:right;margin:0 0 -1px -1px;width:1px;height:1px;overflow:hidden;border:0;padding:0;', name='ctl00$PageBody$EndDate', type='text', value='2019-07-11', title='Visually hidden input created for functionality purposes.')
                                    table.rcTable.rcSingle(cellspacing='0', summary='Table holding date picker control for selection of dates.', style='width:100%;')
                                        caption(style='display:none;')
                                            | RadDatePicker
                                        thead(style='display:none;')
                                            tr
                                                th(scope='col') RadDatePicker
                                        tbody
                                            tr
                                                td.rcInputCell(style='width:100%;')
                                                    span#ctl00_PageBody_EndDate_dateInput_wrapper.riSingle.RadInput.RadInput_T1(style='display:block;width:100%;')
                                                        input#ctl00_PageBody_EndDate_dateInput.riTextBox.riEnabled(name='ctl00$PageBody$EndDate$dateInput', value='7/11/2019', type='text')
                                                        input#ctl00_PageBody_EndDate_dateInput_ClientState(name='ctl00_PageBody_EndDate_dateInput_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"2019-07-11-00-00-00","valueAsString":"2019-07-11-00-00-00","minDateStr":"1800-01-01-00-00-00","maxDateStr":"2099-12-31-00-00-00","lastSetTextBoxValue":"7/11/2019"}')
                                                td
                                                    a#ctl00_PageBody_EndDate_popupButton.rcCalPopup(title='Open the calendar popup.', href='#') Open the calendar popup.
                                                    #ctl00_PageBody_EndDate_calendar_wrapper(style='display:none;')
                                                        table#ctl00_PageBody_EndDate_calendar.RadCalendar.RadCalendar_T1(summary='Calendar control which enables the selection of dates.', cellspacing='0', border='0')
                                                            caption
                                                                span(style='display:none;') Calendar
                                                            thead
                                                                tr
                                                                    td.rcTitlebar
                                                                        table(cellspacing='0', summary='Title and navigation which can change and show the current year and month.', border='0')
                                                                            caption
                                                                                span(style='display:none;') Title and navigation
                                                                            thead
                                                                                tr(style='display:none;')
                                                                                    th(scope='col') Title and navigation
                                                                            tbody
                                                                                tr
                                                                                    td
                                                                                        a#ctl00_PageBody_EndDate_calendar_FNP.rcFastPrev(title='<<', href='#') <<
                                                                                    td
                                                                                        a#ctl00_PageBody_EndDate_calendar_NP.rcPrev(title='<', href='#') <
                                                                                    td#ctl00_PageBody_EndDate_calendar_Title.rcTitle July 2019
                                                                                    td
                                                                                        a#ctl00_PageBody_EndDate_calendar_NN.rcNext(title='>', href='#') >
                                                                                    td
                                                                                        a#ctl00_PageBody_EndDate_calendar_FNN.rcFastNext(title='>>', href='#') <<
                                                            tbody
                                                                tr
                                                                    td.rcMain
                                                                        table#ctl00_PageBody_EndDate_calendar_Top.rcMainTable(cellspacing='0', summary='Table containing all dates for the currently selected month.', border='0')
                                                                            caption
                                                                                span(style='display:none;') July 2019
                                                                            thead
                                                                                tr.rcWeek
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_0(title='Sunday', scope='col', abbr='Sun') S
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_1(title='Monday', scope='col', abbr='Mon') M
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_2(title='Tuesday', scope='col', abbr='Tue') T
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_3(title='Wednesday', scope='col', abbr='Wed') W
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_4(title='Thursday', scope='col', abbr='Thu') T
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_5(title='Friday', scope='col', abbr='Fri') F
                                                                                    th#ctl00_PageBody_EndDate_calendar_Top_cs_6(title='Saturday', scope='col', abbr='Sat') S
                                                                            tbody
                                                                                tr.rcRow
                                                                                    td.rcOtherMonth(title='Sunday, June 30, 2019')
                                                                                        a(href='#') 30
                                                                                    td(title='Monday, July 01, 2019')
                                                                                        a(href='#') 1
                                                                                    td(title='Tuesday, July 02, 2019')
                                                                                        a(href='#') 2
                                                                                    td(title='Wednesday, July 03, 2019')
                                                                                        a(href='#') 3
                                                                                    td(title='Thursday, July 04, 2019')
                                                                                        a(href='#') 4
                                                                                    td(title='Friday, July 05, 2019')
                                                                                        a(href='#') 5
                                                                                    td.rcWeekend(title='Saturday, July 06, 2019')
                                                                                        a(href='#') 6
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 07, 2019')
                                                                                        a(href='#') 7
                                                                                    td(title='Monday, July 08, 2019')
                                                                                        a(href='#') 8
                                                                                    td(title='Tuesday, July 09, 2019')
                                                                                        a(href='#') 9
                                                                                    td(title='Wednesday, July 10, 2019')
                                                                                        a(href='#') 10
                                                                                    td(title='Thursday, July 11, 2019')
                                                                                        a(href='#') 11
                                                                                    td(title='Friday, July 12, 2019')
                                                                                        a(href='#') 12
                                                                                    td.rcWeekend(title='Saturday, July 13, 2019')
                                                                                        a(href='#') 13
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 14, 2019')
                                                                                        a(href='#') 14
                                                                                    td(title='Monday, July 15, 2019')
                                                                                        a(href='#') 15
                                                                                    td(title='Tuesday, July 16, 2019')
                                                                                        a(href='#') 16
                                                                                    td(title='Wednesday, July 17, 2019')
                                                                                        a(href='#') 17
                                                                                    td(title='Thursday, July 18, 2019')
                                                                                        a(href='#') 18
                                                                                    td(title='Friday, July 19, 2019')
                                                                                        a(href='#') 19
                                                                                    td.rcWeekend(title='Saturday, July 20, 2019')
                                                                                        a(href='#') 20
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 21, 2019')
                                                                                        a(href='#') 21
                                                                                    td(title='Monday, July 22, 2019')
                                                                                        a(href='#') 22
                                                                                    td(title='Tuesday, July 23, 2019')
                                                                                        a(href='#') 23
                                                                                    td(title='Wednesday, July 24, 2019')
                                                                                        a(href='#') 24
                                                                                    td(title='Thursday, July 25, 2019')
                                                                                        a(href='#') 25
                                                                                    td(title='Friday, July 26, 2019')
                                                                                        a(href='#') 26
                                                                                    td.rcWeekend(title='Saturday, July 27, 2019')
                                                                                        a(href='#') 27
                                                                                tr.rcRow
                                                                                    td.rcWeekend(title='Sunday, July 28, 2019')
                                                                                        a(href='#') 28
                                                                                    td(title='Monday, July 29, 2019')
                                                                                        a(href='#') 29
                                                                                    td(title='Tuesday, July 30, 2019')
                                                                                        a(href='#') 30
                                                                                    td(title='Wednesday, July 31, 2019')
                                                                                        a(href='#') 31
                                                                                    td.rcOtherMonth(title='Thursday, August 01, 2019')
                                                                                        a(href='#') 1
                                                                                    td.rcOtherMonth(title='Friday, August 02, 2019')
                                                                                        a(href='#') 2
                                                                                    td.rcOtherMonth(title='Saturday, August 03, 2019')
                                                                                        a(href='#') 3
                                                                                tr.rcRow
                                                                                    td.rcOtherMonth(title='Sunday, August 04, 2019')
                                                                                        a(href='#') 4
                                                                                    td.rcOtherMonth(title='Monday, August 05, 2019')
                                                                                        a(href='#') 5
                                                                                    td.rcOtherMonth(title='Tuesday, August 06, 2019')
                                                                                        a(href='#') 6
                                                                                    td.rcOtherMonth(title='Wednesday, August 07, 2019')
                                                                                        a(href='#') 7
                                                                                    td.rcOtherMonth(title='Thursday, August 08, 2019')
                                                                                        a(href='#') 8
                                                                                    td.rcOtherMonth(title='Friday, August 09, 2019')
                                                                                        a(href='#') 9
                                                                                    td.rcOtherMonth(title='Saturday, August 10, 2019')
                                                                                        a(href='#') 10
                                                        input#ctl00_PageBody_EndDate_calendar_SD(type='hidden', name='ctl00_PageBody_EndDate_calendar_SD', value='[]')
                                                        input#ctl00_PageBody_EndDate_calendar_AD(type='hidden', name='ctl00_PageBody_EndDate_calendar_AD', value='[[1800,1,1],[2099,12,30],[2019,7,11]]')
                                    input#ctl00_PageBody_EndDate_ClientState(name='ctl00_PageBody_EndDate_ClientState', type='hidden', value='{"minDateStr":"1800-01-01-00-00-00","maxDateStr":"2099-12-31-00-00-00"}', autocomplete='off')
                            .col6.colval
                                span#ctl00_PageBody_EndDateRequiredFieldValidator(data-val-controltovalidate='ctl00_PageBody_EndDate', data-val-errormessage='End Date is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                    span#ctl00_PageBody_EndDateErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                                span#ctl00_PageBody_DateRangeCompareValidator(data-val-controltovalidate='ctl00_PageBody_EndDate', data-val-errormessage='The End Date must be greater than or equal to the Start Date.', data-val-validationgroup='Filter', data-val='true', data-val-type='Date', data-val-dateorder='mdy', data-val-cutoffyear='2029', data-val-century='2000', data-val-evaluationfunction='CompareValidatorEvaluateIsValid', data-val-controltocompare='ctl00_PageBody_StartDate', data-val-controlhookup='ctl00_PageBody_StartDate', data-val-operator='GreaterThanEqual', style='color:Red;visibility:hidden;')
                                    span#ctl00_PageBody_DateRangeErrorIndicatorControl
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                        .filterrow
                            .col1 Debit\Credit:
                            .col2
                                #ctl00_PageBody_DebitCreditTypeSelection.RadComboBox.RadComboBox_T1(style='width:100%;white-space:normal;')
                                    table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                        tbody
                                            tr.rcbReadOnly
                                                td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                    input#ctl00_PageBody_DebitCreditTypeSelection_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$DebitCreditTypeSelection', type='text', value='Both', readonly='readonly', autocomplete='off')
                                                td.rcbArrowCell.rcbArrowCellRight
                                                    a#ctl00_PageBody_DebitCreditTypeSelection_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                    .rcbSlide(style='z-index:6000;')
                                        #ctl00_PageBody_DebitCreditTypeSelection_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                            .rcbScroll.rcbWidth(style='width:100%;')
                                                ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                    li.rcbItem Both
                                                    li.rcbItem Debits
                                                    li.rcbItem Credits
                                    input#ctl00_PageBody_DebitCreditTypeSelection_ClientState(name='ctl00_PageBody_DebitCreditTypeSelection_ClientState', type='hidden', autocomplete='off')
                            .col3.colval
                            .col4 Exact Amount:
                            .col5
                                span#ctl00_PageBody_ExactAmount_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_ExactAmount.riTextBox.riEnabled(name='ctl00$PageBody$ExactAmount', type='text', style='text-align: right;')
                                    input#ctl00_PageBody_ExactAmount_ClientState(name='ctl00_PageBody_ExactAmount_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","minValue":0,"maxValue":70368744177664,"lastSetTextBoxValue":""}')
                            .col6.colval
                                span#ctl00_PageBody_ExactAmountRangeValidator(data-val-controltovalidate='ctl00_PageBody_ExactAmount', data-val-errormessage='Exact Amount must be in the range of $0 through $100,000,000.00', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-type='Currency', data-val-decimalchar='.', data-val-groupchar=',', data-val-digits='2', data-val-groupsize='3', data-val-evaluationfunction='RangeValidatorEvaluateIsValid', data-val-maximumvalue='100000000', data-val-minimumvalue='0', style='color:Red;display:none;')
                                    span#ctl00_PageBody_ExactAmountErrorIndicatorControl
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                                span#ctl00_PageBody_AmountComparisonValidator(data-val-controltovalidate='ctl00_PageBody_ExactAmount', data-val-focusonerror='t', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='CustomValidatorEvaluateIsValid', data-val-clientvalidationfunction='AmountValidationCheck', style='color:Red;display:none;')
                                    span#ctl00_PageBody_AmountComparisonErrorIndicatorControl
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                        .filterrow
                            .col1 Low Amount:
                            .col2
                                span#ctl00_PageBody_LowAmount_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_LowAmount.riTextBox.riEnabled(name='ctl00$PageBody$LowAmount', type='text', style='text-align: right;')
                                    input#ctl00_PageBody_LowAmount_ClientState(name='ctl00_PageBody_LowAmount_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","minValue":0,"maxValue":70368744177664,"lastSetTextBoxValue":""}')
                            .col3.colval
                                span#ctl00_PageBody_LowAmountRangeValidator1(data-val-controltovalidate='ctl00_PageBody_LowAmount', data-val-errormessage='Low Amount must be in the range of $0 through $100,000,000.00', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-type='Currency', data-val-decimalchar='.', data-val-groupchar=',', data-val-digits='2', data-val-groupsize='3', data-val-evaluationfunction='RangeValidatorEvaluateIsValid', data-val-maximumvalue='100000000', data-val-minimumvalue='0', style='color:Red;display:none;')
                                    span#ctl00_PageBody_LowAmountErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                            .col4 High Amount:
                            .col5
                                span#ctl00_PageBody_HighAmount_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_HighAmount.riTextBox.riEnabled(name='ctl00$PageBody$HighAmount', type='text', style='text-align: right;')
                                    input#ctl00_PageBody_HighAmount_ClientState(name='ctl00_PageBody_HighAmount_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","minValue":0,"maxValue":70368744177664,"lastSetTextBoxValue":""}')
                            .col6.colval
                                span#ctl00_PageBody_HighRangeValidator1(data-val-controltovalidate='ctl00_PageBody_HighAmount', data-val-errormessage='High Amount must be in the range of $0 through $100,000,000.00', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-type='Currency', data-val-decimalchar='.', data-val-groupchar=',', data-val-digits='2', data-val-groupsize='3', data-val-evaluationfunction='RangeValidatorEvaluateIsValid', data-val-maximumvalue='100000000', data-val-minimumvalue='0', style='color:Red;display:none;')
                                    span#ctl00_PageBody_HighErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                                span#ctl00_PageBody_AmountRangeCompareValidator(data-val-controltovalidate='ctl00_PageBody_HighAmount', data-val-errormessage='The High Amount must be greater than or equal to the Low Amount.', data-val-validationgroup='Filter', data-val='true', data-val-type='Double', data-val-decimalchar='.', data-val-evaluationfunction='CompareValidatorEvaluateIsValid', data-val-controltocompare='ctl00_PageBody_LowAmount', data-val-controlhookup='ctl00_PageBody_LowAmount', data-val-operator='GreaterThanEqual', style='color:Red;visibility:hidden;')
                                    span#ctl00_PageBody_AmountRangeErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                        .filterrow
                            .col1 Transaction Description:
                            .col2
                                span#ctl00_PageBody_TransDesc_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_TransDesc.riTextBox.riEnabled(name='ctl00$PageBody$TransDesc', size='20', maxlength='58', type='text', value='')
                                    input#ctl00_PageBody_TransDesc_ClientState(name='ctl00_PageBody_TransDesc_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","lastSetTextBoxValue":""}')
                            .col3.colval
                            .col4 Description Match:
                            .col5
                                #ctl00_PageBody_TransMatch.RadComboBox.RadComboBox_T1(style='width:100%;white-space:normal;')
                                    table(summary='combobox', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                        tbody
                                            tr.rcbReadOnly
                                                td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                    input#ctl00_PageBody_TransMatch_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$TransMatch', type='text', value='Partial', readonly='readonly', autocomplete='off')
                                                td.rcbArrowCell.rcbArrowCellRight
                                                    a#ctl00_PageBody_TransMatch_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                    .rcbSlide(style='z-index:6000;')
                                        #ctl00_PageBody_TransMatch_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                            .rcbScroll.rcbWidth(style='width:100%;')
                                                ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                    li.rcbItem Partial
                                                    li.rcbItem Exact
                                    input#ctl00_PageBody_TransMatch_ClientState(name='ctl00_PageBody_TransMatch_ClientState', type='hidden', autocomplete='off')
                            .col6.colval
                        .filterrow
                            .col1 Transaction Code:
                            .col2
                                span#ctl00_PageBody_TranCode_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_TranCode.riTextBox.riEnabled(name='ctl00$PageBody$TranCode', size='20', maxlength='4', type='text', value='')
                                    input#ctl00_PageBody_TranCode_ClientState(name='ctl00_PageBody_TranCode_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","lastSetTextBoxValue":""}')
                            .col3.colval
                            .col4 Statement Code:
                            .col5
                                span#ctl00_PageBody_StatementCode_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_StatementCode.riTextBox.riEnabled(name='ctl00$PageBody$StatementCode', size='20', maxlength='2', type='text', value='')
                                    input#ctl00_PageBody_StatementCode_ClientState(name='ctl00_PageBody_StatementCode_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","lastSetTextBoxValue":""}')
                            .col6.colval
                        .filterrow
                            .col1 CAN Number:
                            .col2
                                span#ctl00_PageBody_CanNumber_wrapper.riSingle.RadInput.RadInput_T1(style='width:100%;')
                                    input#ctl00_PageBody_CanNumber.riTextBox.riEnabled(name='ctl00$PageBody$CanNumber', maxlength='5', type='text')
                                    input#ctl00_PageBody_CanNumber_ClientState(name='ctl00_PageBody_CanNumber_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"","valueAsString":"","minValue":-70368744177664,"maxValue":70368744177664,"lastSetTextBoxValue":""}')
                            .col3.colval
                                span#ctl00_PageBody_CanNumberRangeValidator(data-val-controltovalidate='ctl00_PageBody_CanNumber', data-val-errormessage='CAN Number must be in the range of 0 through 99999.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-type='Integer', data-val-evaluationfunction='RangeValidatorEvaluateIsValid', data-val-maximumvalue='99999', data-val-minimumvalue='0', style='color:Red;display:none;')
                                    span#ctl00_PageBody_CanNumberRangeErrorIndicatorControl1
                                        img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                            .col4 Filter Auto-Hide:
                            .col5.colcheck
                                input#ctl00_PageBody_FilterAutoHide(type='checkbox', name='ctl00$PageBody$FilterAutoHide', checked='checked')
                            .col6.colval
                        .filterrow
                            .ButtonRow
                                input#ctl00_PageBody_FilterBtn.Button(type='submit', name='ctl00$PageBody$FilterBtn', value='Filter', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$FilterBtn", "", true, "Filter", "", false, false))')
                input#ctl00_PageBody_FilterShowing(name='ctl00$PageBody$FilterShowing', type='hidden', value='0')
            #ctl00_PageBody_TransactionPanel
                #ctl00_PageBody_TransSectionHdg.sectionhdg(style='display:none;')
                    | Detail
                #ctl00_PageBody_TransSectionBody
                    #ctl00_PageBody_HistoryGrid_TransGrid.RadGrid.RadGrid_T1(tabindex='0')
                        table#ctl00_PageBody_HistoryGrid_TransGrid_ctl00.rgMasterTable(border='0', style='width:100%;table-layout:auto;empty-cells:show;')
                            colgroup
                                col(style='width:20px')
                                col
                                col(style='width:22px')
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col(style='width:55px')
                            thead
                                tr
                                    th.rgHeader(scope='col', style='text-align:center;')  
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl00','')")
                                            | Account
                                            br
                                            | Number
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        img#ctl00_PageBody_HistoryGrid_TransGrid_ctl00_ctl02_ctl01_AttachHeaderImg(title='Attachments', src='../../Res/images/attachmentButtonWhite.png', alt='Attachments', style='border-width:0px;')
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl01','')") Transaction Description
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl02','')")
                                            | Post
                                            br
                                            | Date
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl03','')")
                                            | Effective
                                            br
                                            | Date
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl04','')") Debit
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl05','')") Credit
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl06','')") Balance
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl07','')")
                                            | Tran
                                            br
                                            | Code
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl08','')") SC
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$HistoryGrid$TransGrid$ctl00$ctl02$ctl01$ctl09','')") CAN
                                    th.rgHeader(scope='col', style='text-align:center;') Action
                            tbody
                                tr.rgNoRecords
                                    td(colspan='13', style='text-align:left;')
                                        | No transactions found for the given criteria.
                        input#ctl00_PageBody_HistoryGrid_TransGrid_ClientState(name='ctl00_PageBody_HistoryGrid_TransGrid_ClientState', type='hidden', autocomplete='off')
                    #ctl00_PageBody_HistoryGrid_DeleteAttachmentPanel.ButtonRow
                        input#ctl00_PageBody_HistoryGrid_DeleteAttachmentBtn.ButtonExpando(type='submit', name='ctl00$PageBody$HistoryGrid$DeleteAttachmentBtn', value='Remove Attachment(s)', disabled='disabled')
                    #ctl00_PageBody_HistoryGrid_ToolTipManager(style='display:none;position:absolute;')
                        #ctl00_PageBody_HistoryGrid_ToolTipManagerRTMPanel(style='display: block;')
                        input#ctl00_PageBody_HistoryGrid_ToolTipManager_ClientState(name='ctl00_PageBody_HistoryGrid_ToolTipManager_ClientState', type='hidden')
                    #ctl00_PageBody_HistoryGrid_DetailsToolTipManager(style='display:none;position:absolute;')
                        #ctl00_PageBody_HistoryGrid_DetailsToolTipManagerRTMPanel(style='display: block;')
                        input#ctl00_PageBody_HistoryGrid_DetailsToolTipManager_ClientState(name='ctl00_PageBody_HistoryGrid_DetailsToolTipManager_ClientState', type='hidden')
                    #ctl00_PageBody_HistoryGrid_RadWindowManager1(style='display:none;')
                        #ctl00_PageBody_HistoryGrid_AddAttachmentWindow(style='display:none;')
                            #ctl00_PageBody_HistoryGrid_AddAttachmentWindow_C(style='display:none;')
                            input#ctl00_PageBody_HistoryGrid_AddAttachmentWindow_ClientState(name='ctl00_PageBody_HistoryGrid_AddAttachmentWindow_ClientState', type='hidden', autocomplete='off')
                        #ctl00_PageBody_HistoryGrid_RadWindowManager1_alerttemplate(style='display:none;')
                            .rwDialogPopup.radalert
                                .rwDialogText
                                    | {1}
                                div
                                    a.rwPopupButton(onclick="$find('{0}').close(true);", href='javascript:void(0);')
                                        span.rwOuterSpan
                                            span.rwInnerSpan ##LOC[OK]##
                        #ctl00_PageBody_HistoryGrid_RadWindowManager1_prompttemplate(style='display:none;')
                            .rwDialogPopup.radprompt
                                .rwDialogText
                                    | {1}
                                div
                                    input.rwDialogInput(title='Enter Value', onkeydown="return RadWindowprompt_detectenter('{0}', event, this);", type='text', value='{2}')
                                div
                                    a.rwPopupButton(onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);", href='javascript:void(0);')
                                        span.rwOuterSpan
                                            span.rwInnerSpan ##LOC[OK]##
                                    a.rwPopupButton(onclick="$find('{0}').close(null);", href='javascript:void(0);')
                                        span.rwOuterSpan
                                            span.rwInnerSpan ##LOC[Cancel]##
                        #ctl00_PageBody_HistoryGrid_RadWindowManager1_confirmtemplate(style='display:none;')
                            .rwDialogPopup.radconfirm
                                .rwDialogText
                                    | {1}
                                div
                                    a.rwPopupButton(onclick="$find('{0}').close(true);", href='javascript:void(0);')
                                        span.rwOuterSpan
                                            span.rwInnerSpan ##LOC[OK]##
                                    a.rwPopupButton(onclick="$find('{0}').close(false);", href='javascript:void(0);')
                                        span.rwOuterSpan
                                            span.rwInnerSpan ##LOC[Cancel]##
                        input#ctl00_PageBody_HistoryGrid_RadWindowManager1_ClientState(name='ctl00_PageBody_HistoryGrid_RadWindowManager1_ClientState', type='hidden')
        #ctl00_PageBody_RadAjaxManagerSU(style='display: none;')
            span#ctl00_PageBody_RadAjaxManager(style='display:none;')
        #ctl00_PageBody_RadAjaxLoadingPanel1.RadAjax.RadAjax_T1X(style='display:none;')
            .raDiv
            .raColor.raTransp
