extends ../base.pug
block main
    #TheContent
      #ThePageHeader.d-flex.flex-row.justify-content-between
        .PageHeader2 Edit Address
        .PageHeaderCrumb
            a#ctl00_PageBody_BackToAddressList(href='AddressList.aspx?params=HK8LS6GGZmFzDXH7uyE1ow%3d%3d') << Back to Address List
      hr
      #ctl00_PageBody_Messages.messagesbg.error.d-flex.flex-row(data-msg-showvalidationmsgs='1', data-msg-mc='1')
        .messageimg
            span.fas.fa-times-circle.error
        .messagetext Error: Please complete the required fields below
      #ctl00_PageBody_PageContent
        .d-flex.flex-column
            .d-flex.flex-row
                .d-flex.flex-column
                        label(for='ctl00_PageBody_AddressDetails_AddressTypeList') Type*
                        select#ctl00_PageBody_AddressDetails_AddressTypeList(name='ctl00$PageBody$AddressDetails$AddressTypeList', style='width:161px;')
                          option(selected='selected', value='1') Corporate Office
                          option(value='2') Branch Office
                          option(value='3') Home
                          option(value='4') Business
            .d-flex.flex-row
                .d-flex.flex-column
                     label(for='ctl00_PageBody_AddressDetails_AddressLine1TextBox') Address 1*
                     input.error#ctl00_PageBody_AddressDetails_AddressLine1TextBox(name='ctl00$PageBody$AddressDetails$AddressLine1TextBox', type='text', maxlength='50', style='width:350px;')
                     label <span class='error'>*</span> Required Field
            .d-flex.flex-row
                .d-flex.flex-column
                     label(for='ctl00_PageBody_AddressDetails_AddressLine2TextBox') Address 2
                     input#ctl00_PageBody_AddressDetails_AddressLine2TextBox(name='ctl00$PageBody$AddressDetails$AddressLine2TextBox', type='text', maxlength='50', style='width:350px;')
            .d-flex.flex-row
                .d-flex.flex-column
                     label(for='ctl00_PageBody_AddressDetails_AddressLine3TextBox') Address 3
                     input#ctl00_PageBody_AddressDetails_AddressLine3TextBox(name='ctl00$PageBody$AddressDetails$AddressLine3TextBox', type='text', maxlength='50', style='width:350px;')
            .d-flex.flex-row
                .d-flex.flex-column
                     label(for='ctl00_PageBody_AddressDetails_CityTextBox') City*
                     input.spaced-form-element#ctl00_PageBody_AddressDetails_CityTextBox(name='ctl00$PageBody$AddressDetails$CityTextBox', type='text', maxlength='50', style='width:155px;')
                .d-flex.flex-column
                     label(for='ctl00_PageBody_AddressDetails_StateList') State*
                     select#ctl00_PageBody_AddressDetails_StateList(name='ctl00$PageBody$AddressDetails$StateList')
                        option(value='AK') AK
                        option(value='AL') AL
                        option(value='AR') AR
                        option(value='AZ') AZ
                        option(value='CA') CA
                        option(value='CO') CO
                        option(value='CT') CT
                        option(value='DC') DC
                        option(value='DE') DE
                        option(value='FL') FL
                        option(value='GA') GA
                        option(value='HI') HI
                        option(value='IA') IA
                        option(value='ID') ID
                        option(selected='selected', value='IL') IL
                        option(value='IN') IN
                        option(value='KS') KS
                        option(value='KY') KY
                        option(value='LA') LA
                        option(value='MA') MA
                        option(value='MD') MD
                        option(value='ME') ME
                        option(value='MI') MI
                        option(value='MN') MN
                        option(value='MO') MO
                        option(value='MS') MS
                        option(value='MT') MT
                        option(value='NC') NC
                        option(value='ND') ND
                        option(value='NE') NE
                        option(value='NH') NH
                        option(value='NJ') NJ
                        option(value='NM') NM
                        option(value='NV') NV
                        option(value='NY') NY
                        option(value='OH') OH
                        option(value='OK') OK
                        option(value='OR') OR
                        option(value='PA') PA
                        option(value='PR') PR
                        option(value='RI') RI
                        option(value='SC') SC
                        option(value='SD') SD
                        option(value='TN') TN
                        option(value='TX') TX
                        option(value='UT') UT
                        option(value='VA') VA
                        option(value='VT') VT
                        option(value='WA') WA
                        option(value='WI') WI
                        option(value='WV') WV
                        option(value='WY') WY
            .d-flex.flex-row
                .d-flex.flex-column
                    .d-flex.flex-row.zip-label
                        label(for='ctl00_PageBody_AddressDetails_ZipCode5TextBox') Zip Code:*
                    .d-flex.flex-row
                        input.spaced-form-element#ctl00_PageBody_AddressDetails_ZipCode5TextBox(name='ctl00$PageBody$AddressDetails$ZipCode5TextBox', type='text', value='     ', maxlength='5', style='width:155px;')
                        input#ctl00_PageBody_AddressDetails_ZipCode4TextBox(name='ctl00$PageBody$AddressDetails$ZipCode4TextBox', type='text', maxlength='4', style='width:75px;')
        .ButtonRow(align='left')
            input#ctl00_PageBody_SubmitBtn.btn.btn-light(type='submit', name='ctl00$PageBody$SubmitBtn', value='OK', onclick='ShowProcessctl00_PageBody_SubmitBtn();WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$SubmitBtn", "", true, "", "", false, false))')
            input#ctl00_PageBody_CancelBtn.btn.btn-light(name='ctl00$PageBody$CancelBtn', type='button', value='Cancel', onclick="window.location.href='/Admin/Org/Update/AddressList.aspx?params=HK8LS6GGZmFzDXH7uyE1ow%3d%3d'")
