extends ../base.pug
block main    
    #TheContent
        #ThePageHeader
            .PageHeader2 IP Lockdown
        #ctl00_PageBody_ctl00_PageBody_MessagesPanel.RadAjaxPanel(style='display: block;')
            #ctl00_PageBody_Messages(data-msg-mc='1', data-msg-showvalidationmsgs='1')
        #ctl00_PageBody_Tabs_OrgAdminTabStrip.RadTabStrip.RadTabStrip_T1.RadTabStripTop_T1
            .rtsLevel.rtsLevel1
                ul.rtsUL
                    li.rtsLI.rtsFirst
                        a#NameTab.rtsLink(href='Name.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Name
                    li.rtsLI
                        a#AddressTab.rtsLink(href='AddressList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Address
                    li.rtsLI
                        a#PhoneTab.rtsLink(href='PhoneList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Phone
                    li.rtsLI
                        a#NotesTab.rtsLink(href='NoteList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Notes
                    li.rtsLI
                        a#BranchesTab.rtsLink(href='BranchList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Branches
                    li.rtsLI
                        a#UsersTab.rtsLink(href='UserList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Users
                    li.rtsLI
                        a#AuthorizationsTab.rtsLink(href='Authorizations.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Authorizations
                    li.rtsLI
                        a#ExecutivesTab.rtsLink(href='ExecutiveUserList.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Executives
                    li.rtsLI
                        a#SuccessTeamTab.rtsLink.rtsBefore(href='SuccessTeam.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt Success Team
                    li.rtsLI.rtsLast
                        a#IpLockdownTab.rtsLink.rtsSelected(href='IPLockdown.aspx')
                            span.rtsOut
                                span.rtsIn
                                    span.rtsTxt IP Lockdown
            input#ctl00_PageBody_Tabs_OrgAdminTabStrip_ClientState(name='ctl00_PageBody_Tabs_OrgAdminTabStrip_ClientState', type='hidden', autocomplete='off', value='{"selectedIndexes":["9"],"logEntries":[],"scrollState":{}}')
        fieldset
            #ctl00_PageBody_PageContent
                table.FormTable(border='0', cellpadding='0', cellspacing='0', width='700')
                    tbody
                        tr
                            td
                                .sectionhdg Configuration
                                .sectionbody
                                    table.FormTable(cellpadding='3', cellspacing='0', border='0')
                                        tbody
                                            tr
                                                td(style='text-align: right; vertical-align: top; padding-top: 5px') IP Lockdown Mode:
                                                td
                                                    span.FormLabel
                                                        input#ctl00_PageBody_AllUsersAndAuthsCheckbox(type='checkbox', name='ctl00$PageBody$AllUsersAndAuthsCheckbox')
                                                        label(for='ctl00_PageBody_AllUsersAndAuthsCheckbox') Enabled for All Users and All Authorizations
                                                    br
                                                    span.FormLabel
                                                        input#ctl00_PageBody_TranzcaptureScanOnlyCheckbox(type='checkbox', name='ctl00$PageBody$TranzcaptureScanOnlyCheckbox')
                                                        label(for='ctl00_PageBody_TranzcaptureScanOnlyCheckbox') Enabled for Users With "TranzCapture Scan Only" Authorization (Replaces Tokens)
                        tr
                            td
                                .sectionhdg IP Address Ranges
                                .sectionbodyrightgutter
                                    table.gridbox(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                            tr
                                                td
                                                    #ctl00_PageBody_ctl00_PageBody_IPAddressRangeGridPanel.RadAjaxPanel(style='display: block;')
                                                        #ctl00_PageBody_IPAddressRangeGrid.RadGrid.RadGrid_T1(tabindex='0')
                                                            table#ctl00_PageBody_IPAddressRangeGrid_ctl00.rgMasterTable(border='0', style='width:100%;table-layout:auto;empty-cells:show;')
                                                                colgroup
                                                                    col(style='width:20px')
                                                                    col(style='width:50px')
                                                                    col
                                                                    col
                                                                thead
                                                                    tr
                                                                        th.rgHeader(scope='col')  
                                                                        th.rgHeader(scope='col') Action
                                                                        th.rgHeader(scope='col')
                                                                            a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$IPAddressRangeGrid$ctl00$ctl02$ctl01$ctl00','')") Description
                                                                        th.rgHeader(scope='col', style='white-space:nowrap;')
                                                                            a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$IPAddressRangeGrid$ctl00$ctl02$ctl01$ctl01','')") IP Address Range
                                                                tbody
                                                                    tr.rgNoRecords
                                                                        td(colspan='4', style='text-align:left;')
                                                                            | There are no IP Address Ranges to display.
                                                            input#ctl00_PageBody_IPAddressRangeGrid_ClientState(name='ctl00_PageBody_IPAddressRangeGrid_ClientState', type='hidden', autocomplete='off')
                                            tr
                                                td.ButtonRow(align='center')
                                                    input#ctl00_PageBody_CreateRangeBtn.Button(type='button', name='ctl00$PageBody$CreateRangeBtn', value='Add', onclick="OnCreateBtn(); return false;__doPostBack('ctl00$PageBody$CreateRangeBtn','')")
                                                    input#ctl00_PageBody_DeleteRangeBtn.Button(type='button', name='ctl00$PageBody$DeleteRangeBtn', value='Remove', onclick="return OnDeleteRangeBtn();__doPostBack('ctl00$PageBody$DeleteRangeBtn','')")
                        tr
                            td
                                .sectionhr
                        tr
                            td.ButtonRow(align='center')
                                input#ctl00_PageBody_SaveBtn.Button(type='submit', name='ctl00$PageBody$SaveBtn', value='Save', onclick='ShowProcessctl00_PageBody_SaveBtn();')
                                input#ctl00_PageBody_ResetBtn.Button(name='ctl00$PageBody$ResetBtn', type='button', value='Reset', onclick="window.location.href='/Admin/Org/Update/IPLockdown.aspx'")
        input#IPAddressId(type='hidden', name='ctl00$PageBody$IPAddressId')
        input#IPAddressFrom(type='hidden', name='ctl00$PageBody$IPAddressFrom')
        input#IPAddressTo(type='hidden', name='ctl00$PageBody$IPAddressTo')
        input#IPAddressDescription(type='hidden', name='ctl00$PageBody$IPAddressDescription')
        input#Operation(type='hidden', name='ctl00$PageBody$Operation')
        #ctl00_PageBody_IPAddressRangeWindowManager(style='display:none;')
            #ctl00_PageBody_IPAddressRangeWindow(style='display:none;')
                #ctl00_PageBody_IPAddressRangeWindow_C(style='display:none;')
                input#ctl00_PageBody_IPAddressRangeWindow_ClientState(name='ctl00_PageBody_IPAddressRangeWindow_ClientState', type='hidden', autocomplete='off')
            #ctl00_PageBody_IPAddressRangeWindowManager_alerttemplate(style='display:none;')
                .rwDialogPopup.radalert
                    .rwDialogText
                        | {1}
                    div
                        a.rwPopupButton(onclick="$find('{0}').close(true);", href='javascript:void(0);')
                            span.rwOuterSpan
                                span.rwInnerSpan ##LOC[OK]##
            #ctl00_PageBody_IPAddressRangeWindowManager_prompttemplate(style='display:none;')
                .rwDialogPopup.radprompt
                    .rwDialogText
                        | {1}
                    div
                        input.rwDialogInput(title='Enter Value', onkeydown="return RadWindowprompt_detectenter('{0}', event, this);", type='text', value='{2}')
                    div
                        a.rwPopupButton(onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);", href='javascript:void(0);')
                            span.rwOuterSpan
                                span.rwInnerSpan ##LOC[OK]##
                        a.rwPopupButton(onclick="$find('{0}').close(null);", href='javascript:void(0);')
                            span.rwOuterSpan
                                span.rwInnerSpan ##LOC[Cancel]##
            #ctl00_PageBody_IPAddressRangeWindowManager_confirmtemplate(style='display:none;')
                .rwDialogPopup.radconfirm
                    .rwDialogText
                        | {1}
                    div
                        a.rwPopupButton(onclick="$find('{0}').close(true);", href='javascript:void(0);')
                            span.rwOuterSpan
                                span.rwInnerSpan ##LOC[OK]##
                        a.rwPopupButton(onclick="$find('{0}').close(false);", href='javascript:void(0);')
                            span.rwOuterSpan
                                span.rwInnerSpan ##LOC[Cancel]##
            input#ctl00_PageBody_IPAddressRangeWindowManager_ClientState(name='ctl00_PageBody_IPAddressRangeWindowManager_ClientState', type='hidden')
        #ctl00_PageBody_RadAjaxManager1SU(style='display: none;')
            span#ctl00_PageBody_RadAjaxManager1(style='display:none;')
        #ctl00_PageBody_RadAjaxLoadingPanel1.RadAjax.RadAjax_T1(style='display:none;')
            .raDiv
            .raColor.raTransp
