extends ../base.pug
block main
	#TheContent
		#ThePageHeader
			.PageHeader2 Organization Requests
		#ctl00_PageBody_Messages(data-msg-showvalidationmsgs='1', data-msg-mc='1')
		hr
		#react-data-table
		p  
