extends ../base.pug
block main
    #ctl00_PinValidationPanel
      #ctl00_PinValidator_ThePageHeader.thePageHeader
        #ctl00_PinValidator_PageHeaderText.PageHeader2
          | PIN Verification
          span#ctl00_PinValidator_CustomHeaderArea.PageHeaderSub
            span#ctl00_PinValidator_CustomHeader2 for Create Domestic Wire From Template
        hr
      #ctl00_PinValidator_Messages(data-msg-mc='1' data-msg-checkvalidationgroup='1' data-msg-validationgroup='PIN' data-msg-showvalidationmsgs='1')
      #ctl00_PinValidator_PageContent
        #ctl00_PinValidator_OboPinEntryPanel(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_PinValidator_OboSubmitBtn')")
          div
            #ctl00_PinValidator_OboNoticePanel.noticePanel
              i.fas.fa-exclamation
              p
                | IMPORTANT NOTICE:  Premier View will allow this transaction to be funded by an advance on your line of credit if applicable.
                | Please review your transaction account prior to the transaction cutoff time and fund accordingly.
                | Any unfunded portion of the transaction will result in an advance on your line of credit.
        .d-flex.flex-column
            .d-flex.flex-column
                label(for='ctl00_PinValidator_OboUserList') User:
                select#ctl00_PinValidator_OboUserList(name='ctl00$PinValidator$OboUserList' onchange='onOboUserChange()' style='width:300px;')
                    option(selected='selected' value='-1')
                    option test user
                    option Test User 1
                    option Test User Call In
                    option Test User Online
                    option Test User Online
            .d-flex.flex-column
                label(for='ctl00_PinValidator_Login') Login:
                span#ctl00_PinValidator_Login.disabledcell Test User
            .d-flex.flex-column
                label(for='ctl00_PinValidator_OboPinTextBox') PIN:
                input#ctl00_PinValidator_OboPinTextBox(name='ctl00$PinValidator$OboPinTextBox' type='password' maxlength='5' style='width:100px;')
                  
        .ButtonRow(align='left')
            input#ctl00_PinValidator_OboSubmitBtn.btn.btn-light(type='submit' name='ctl00$PinValidator$OboSubmitBtn' value='Submit' onclick='window.setTimeout(disableSubmitctl00_PinValidator_OboSubmitBtn, 1);WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PinValidator$OboSubmitBtn", "", true, "PIN", "", false, false))')
            input#ctl00_PinValidator_OboCancelBtn.btn.btn-light(type='submit' name='ctl00$PinValidator$OboCancelBtn' value='Cancel' onclick='Page_BlockSubmit = false; window.setTimeout(disableSubmitctl00_PinValidator_OboCancelBtn, 1);')