extends ../base.pug
block main
    #TheContent
        #ThePageHeader
            .PageHeaderCrumb
                a#ctl00_PageBody_BackToAccountMgmtLink(href='../AccountManagement.aspx') << Back to Account Management
            .PageHeader2
                | Share Account Balances 
                span.PageHeaderSub for Post Date 07/11/2019, as of 07/11/2019 07:09:47 AM
            .PageHeaderToolbar
                #ctl00_PageBody_Toolbar.RadToolBar.RadToolBar_Horizontal.RadToolBar_T1.RadToolBar_T1_Horizontal(style='z-index:9000;')
                    .rtbOuter
                        .rtbMiddle
                            .rtbInner
                                ul.rtbUL
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Filter
                                    li.rtbItem.rtbDropDown
                                        a.rtbWrap.rtbExpandDown(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Download
                                                        span.rtbChoiceArrow
                                        .rtbSlide(style='display:none;')
                                            .RadToolBarDropDown.RadToolBarDropDown_T1
                                                ul.rtbActive.rtbGroup.rtbLevel1
                                                    li.rtbItem
                                                        a.rtbWrap(href='#')
                                                            img.rtbIcon(alt='', src='../../../Res/images/csvexport.png')
                                                            span.rtbText CSV
                                                    li.rtbItem
                                                        a.rtbWrap(href='#')
                                                            img.rtbIcon(alt='', src='../../../Res/images/mswordexport.png')
                                                            span.rtbText Word
                                    li.rtbItem.rtbBtn
                                        a.rtbWrap(href='#')
                                            span.rtbOut
                                                span.rtbMid
                                                    span.rtbIn
                                                        span.rtbText Print
                    input#ctl00_PageBody_Toolbar_ClientState(name='ctl00_PageBody_Toolbar_ClientState', type='hidden', autocomplete='off')
        #ctl00_PageBody_Messages(data-msg-mc='1', data-msg-showvalidationmsgs='1')
        #ctl00_PageBody_PageContent
            #ctl00_PageBody_FilterPanel(style='display:none;')
                table(cellpadding='0', cellspacing='0', border='0', style='width: 100% ')
                    tbody
                        tr
                            td
                                .sectionhdg Filter
                                .sectionbody
                                    table.FormTable(cellpadding='3', cellspacing='0', border='0', style='width: 240px')
                                        tbody
                                            tr
                                                td.right(style='width: 95px') Post Date:
                                                td
                                                    #ctl00_PageBody_PostDatePicker_wrapper.RadPicker.RadPicker_T1(style='display:inline-block;width:125px;')
                                                        input#ctl00_PageBody_PostDatePicker.rdfd_.radPreventDecorate(style='visibility:hidden;display:block;float:right;margin:0 0 -1px -1px;width:1px;height:1px;overflow:hidden;border:0;padding:0;', name='ctl00$PageBody$PostDatePicker', type='text', value='2019-07-11', title='Visually hidden input created for functionality purposes.')
                                                        table.rcTable.rcSingle(cellspacing='0', summary='Table holding date picker control for selection of dates.', style='width:100%;')
                                                            caption(style='display:none;')
                                                                | RadDatePicker
                                                            thead(style='display:none;')
                                                                tr
                                                                    th(scope='col') RadDatePicker
                                                            tbody
                                                                tr
                                                                    td.rcInputCell(style='width:100%;')
                                                                        span#ctl00_PageBody_PostDatePicker_dateInput_wrapper.riSingle.RadInput.RadInput_T1(style='display:block;width:100%;')
                                                                            input#ctl00_PageBody_PostDatePicker_dateInput.riTextBox.riEnabled(name='ctl00$PageBody$PostDatePicker$dateInput', value='7/11/2019', type='text')
                                                                            input#ctl00_PageBody_PostDatePicker_dateInput_ClientState(name='ctl00_PageBody_PostDatePicker_dateInput_ClientState', type='hidden', autocomplete='off', value='{"enabled":true,"emptyMessage":"","validationText":"2019-07-11-00-00-00","valueAsString":"2019-07-11-00-00-00","minDateStr":"2012-01-01-00-00-00","maxDateStr":"2019-07-11-00-00-00","lastSetTextBoxValue":"7/11/2019"}')
                                                                    td
                                                                        a#ctl00_PageBody_PostDatePicker_popupButton.rcCalPopup(title='Open the calendar popup.', href='#') Open the calendar popup.
                                                                        #ctl00_PageBody_PostDatePicker_calendar_wrapper(style='display:none;')
                                                                            table#ctl00_PageBody_PostDatePicker_calendar.RadCalendar.RadCalendar_T1(summary='Calendar control which enables the selection of dates.', cellspacing='0', border='0')
                                                                                caption
                                                                                    span(style='display:none;') Calendar
                                                                                thead
                                                                                    tr
                                                                                        td.rcTitlebar
                                                                                            table(cellspacing='0', summary='Title and navigation which can change and show the current year and month.', border='0')
                                                                                                caption
                                                                                                    span(style='display:none;') Title and navigation
                                                                                                thead
                                                                                                    tr(style='display:none;')
                                                                                                        th(scope='col') Title and navigation
                                                                                                tbody
                                                                                                    tr
                                                                                                        td
                                                                                                            a#ctl00_PageBody_PostDatePicker_calendar_FNP.rcFastPrev(title='<<', href='#') <<
                                                                                                        td
                                                                                                            a#ctl00_PageBody_PostDatePicker_calendar_NP.rcPrev(title='<', href='#') <
                                                                                                        td#ctl00_PageBody_PostDatePicker_calendar_Title.rcTitle July 2019
                                                                                                        td
                                                                                                            a#ctl00_PageBody_PostDatePicker_calendar_NN.rcNext(title='>', href='#') >
                                                                                                        td
                                                                                                            a#ctl00_PageBody_PostDatePicker_calendar_FNN.rcFastNext(title='>>', href='#') <<
                                                                                tbody
                                                                                    tr
                                                                                        td.rcMain
                                                                                            table#ctl00_PageBody_PostDatePicker_calendar_Top.rcMainTable(cellspacing='0', summary='Table containing all dates for the currently selected month.', border='0')
                                                                                                caption
                                                                                                    span(style='display:none;') July 2019
                                                                                                thead
                                                                                                    tr.rcWeek
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_0(title='Sunday', scope='col', abbr='Sun') S
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_1(title='Monday', scope='col', abbr='Mon') M
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_2(title='Tuesday', scope='col', abbr='Tue') T
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_3(title='Wednesday', scope='col', abbr='Wed') W
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_4(title='Thursday', scope='col', abbr='Thu') T
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_5(title='Friday', scope='col', abbr='Fri') F
                                                                                                        th#ctl00_PageBody_PostDatePicker_calendar_Top_cs_6(title='Saturday', scope='col', abbr='Sat') S
                                                                                                tbody
                                                                                                    tr.rcRow
                                                                                                        td.rcOtherMonth.rcDisabled(title='Sunday, June 30, 2019')
                                                                                                            span 30
                                                                                                        td(title='Monday, July 01, 2019')
                                                                                                            a(href='#') 1
                                                                                                        td(title='Tuesday, July 02, 2019')
                                                                                                            a(href='#') 2
                                                                                                        td(title='Wednesday, July 03, 2019')
                                                                                                            a(href='#') 3
                                                                                                        td.rcDisabled(title='Independence Day')
                                                                                                            span 4
                                                                                                        td(title='Friday, July 05, 2019')
                                                                                                            a(href='#') 5
                                                                                                        td.rcWeekend.rcDisabled(title='Saturday, July 06, 2019')
                                                                                                            span 6
                                                                                                    tr.rcRow
                                                                                                        td.rcWeekend.rcDisabled(title='Sunday, July 07, 2019')
                                                                                                            span 7
                                                                                                        td(title='Monday, July 08, 2019')
                                                                                                            a(href='#') 8
                                                                                                        td(title='Tuesday, July 09, 2019')
                                                                                                            a(href='#') 9
                                                                                                        td(title='Wednesday, July 10, 2019')
                                                                                                            a(href='#') 10
                                                                                                        td(title='Thursday, July 11, 2019')
                                                                                                            a(href='#') 11
                                                                                                        td.rcOutOfRange
                                                                                                            span 12
                                                                                                        td.rcOutOfRange
                                                                                                            span 13
                                                                                                    tr.rcRow
                                                                                                        td.rcOutOfRange
                                                                                                            span 14
                                                                                                        td.rcOutOfRange
                                                                                                            span 15
                                                                                                        td.rcOutOfRange
                                                                                                            span 16
                                                                                                        td.rcOutOfRange
                                                                                                            span 17
                                                                                                        td.rcOutOfRange
                                                                                                            span 18
                                                                                                        td.rcOutOfRange
                                                                                                            span 19
                                                                                                        td.rcOutOfRange
                                                                                                            span 20
                                                                                                    tr.rcRow
                                                                                                        td.rcOutOfRange
                                                                                                            span 21
                                                                                                        td.rcOutOfRange
                                                                                                            span 22
                                                                                                        td.rcOutOfRange
                                                                                                            span 23
                                                                                                        td.rcOutOfRange
                                                                                                            span 24
                                                                                                        td.rcOutOfRange
                                                                                                            span 25
                                                                                                        td.rcOutOfRange
                                                                                                            span 26
                                                                                                        td.rcOutOfRange
                                                                                                            span 27
                                                                                                    tr.rcRow
                                                                                                        td.rcOutOfRange
                                                                                                            span 28
                                                                                                        td.rcOutOfRange
                                                                                                            span 29
                                                                                                        td.rcOutOfRange
                                                                                                            span 30
                                                                                                        td.rcOutOfRange
                                                                                                            span 31
                                                                                                        td.rcOutOfRange
                                                                                                            span 1
                                                                                                        td.rcOutOfRange
                                                                                                            span 2
                                                                                                        td.rcOutOfRange
                                                                                                            span 3
                                                                                                    tr.rcRow
                                                                                                        td.rcOutOfRange
                                                                                                            span 4
                                                                                                        td.rcOutOfRange
                                                                                                            span 5
                                                                                                        td.rcOutOfRange
                                                                                                            span 6
                                                                                                        td.rcOutOfRange
                                                                                                            span 7
                                                                                                        td.rcOutOfRange
                                                                                                            span 8
                                                                                                        td.rcOutOfRange
                                                                                                            span 9
                                                                                                        td.rcOutOfRange
                                                                                                            span 10
                                                                            input#ctl00_PageBody_PostDatePicker_calendar_SD(type='hidden', name='ctl00_PageBody_PostDatePicker_calendar_SD', value='[]')
                                                                            input#ctl00_PageBody_PostDatePicker_calendar_AD(type='hidden', name='ctl00_PageBody_PostDatePicker_calendar_AD', value='[[2012,1,1],[2019,7,11],[2019,7,11]]')
                                                        input#ctl00_PageBody_PostDatePicker_ClientState(name='ctl00_PageBody_PostDatePicker_ClientState', type='hidden', value='{"minDateStr":"2012-01-01-00-00-00","maxDateStr":"2019-07-11-00-00-00"}', autocomplete='off')
                                                    span#ctl00_PageBody_PostDateRequired(data-val-controltovalidate='ctl00_PageBody_PostDatePicker', data-val-errormessage='Post Date is required.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='RequiredFieldValidatorEvaluateIsValid', data-val-initialvalue='', style='color:Red;display:none;')
                                                        span#ctl00_PageBody_PostDateRequiredErrorIndicator
                                                            img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                                                    span#ctl00_PageBody_PostDateBusinessValidator(data-val-controltovalidate='ctl00_PageBody_PostDatePicker', data-val-errormessage='Post Date must be a business day.', data-val-display='Dynamic', data-val-validationgroup='Filter', data-val='true', data-val-evaluationfunction='CustomValidatorEvaluateIsValid', style='color:Red;display:none;')
                                                        span#ctl00_PageBody_PostDateErrorIndicatorControl
                                                            img(src='/WebResource.axd?d=ani-3Lpw1L8Q4X_1QdlNIb7RwoPojMIwm3s4PTgd55hlF6hJBgkGb9_2O5WWKwv3llr0q2fFO1TZ0lDQWrj2okA3d0UGEu5kTAlhu9ZaCe-XNrHM_g8N51Wb4L3jeYh9BA84exYm4cFgPewYvPm3i5EB8pc1&t=636929169195064472', alt='error')
                                            tr
                                                td.ButtonRow(colspan='2')
                                                    input#ctl00_PageBody_FilterBtn.Button(type='submit', name='ctl00$PageBody$FilterBtn', value='Filter', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$FilterBtn", "", true, "Filter", "", false, false))')
                input#ctl00_PageBody_FilterShowing(name='ctl00$PageBody$FilterShowing', type='hidden', value='0')
            #ctl00_PageBody_TransactionPanel
                table(cellpadding='0', cellspacing='0', border='0', style='width: 100% ')
                    tbody
                        tr
                            td
                                #ctl00_PageBody_TransSectionHdg.sectionhdg(style='display:none;')
                                    | Detail
                                #ctl00_PageBody_TransSectionBody
                                    table#bgrid.gridbox(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                            tr
                                                td
                                                    #ctl00_PageBody_BalancesControl_BalancesGrid.RadGrid.RadGrid_T1(tabindex='0')
                                                        table#ctl00_PageBody_BalancesControl_BalancesGrid_ctl00.rgMasterTable(border='0', style='width:100%;table-layout:auto;empty-cells:show;')
                                                            colgroup
                                                                col
                                                                col
                                                                col
                                                                col
                                                                col
                                                                col
                                                            thead
                                                                tr
                                                                    th.rgHeader(scope='col', style='text-align:left;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl00','')") Account Description
                                                                    th.rgHeader(scope='col', style='text-align:center;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl01','')")
                                                                            | Account
                                                                            br
                                                                            | Number
                                                                    th.rgHeader(scope='col', style='text-align:center;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl02','')") Balance
                                                                    th.rgHeader(scope='col', style='text-align:center;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl03','')")
                                                                            | Next Day
                                                                            br
                                                                            | Available
                                                                    th.rgHeader(scope='col', style='text-align:center;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl04','')")
                                                                            | Future
                                                                            br
                                                                            | Available
                                                                    th.rgHeader(scope='col', style='text-align:center;')
                                                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$BalancesControl$BalancesGrid$ctl00$ctl02$ctl00$ctl05','')")
                                                                            | Accrued
                                                                            br
                                                                            | Dividends
                                                            tfoot
                                                                tr.rgFooter
                                                                    td  
                                                                    td(align='center') Totals
                                                                    td(align='right') $0.00
                                                                    td(align='right')
                                                                    td(align='right')
                                                                    td(align='right')
                                                            tbody
                                                                tr.rgNoRecords
                                                                    td(colspan='6', style='text-align:left;')
                                                                        | No balances found for the given post date.
                                                        input#ctl00_PageBody_BalancesControl_BalancesGrid_ClientState(name='ctl00_PageBody_BalancesControl_BalancesGrid_ClientState', type='hidden', autocomplete='off')
                                                    br
                                                    #ctl00_PageBody_BalancesControl_MessagesGrid.RadGrid.RadGrid_T1.tableFixed(tabindex='0')
                                                        table#ctl00_PageBody_BalancesControl_MessagesGrid_ctl00.rgMasterTable(border='0', style='width:100%;table-layout:auto;empty-cells:show;')
                                                            colgroup
                                                                col
                                                            thead
                                                                tr
                                                                    th.rgHeader(scope='col', style='text-align:left;') Messages
                                                            tbody
                                                                tr.rgNoRecords
                                                                    td(colspan='1', style='text-align:left;')
                                                                        | There are no messages to display.
                                                        input#ctl00_PageBody_BalancesControl_MessagesGrid_ClientState(name='ctl00_PageBody_BalancesControl_MessagesGrid_ClientState', type='hidden', autocomplete='off')
        br
