extends ../base.pug
block main
    #TheContent
        #ThePageHeader
            .PageHeader2 Transaction Dashboard
        hr
        +container('mb-4')
            +row
                +col(10)
                    #react-dashboard-grid
        #react-wire-out-corp-review.sub-grid
        #react-transaction-list.sub-grid
        #react-transaction-detail.sub-grid
        #react-wo-template.sub-grid
        #react-intl-wire-template.sub-grid
        #react-domestic-wire-out.sub-grid
        #react-cash-conectration-template.sub-grid