extends ../base.pug
block main
    #TheContent
        #ThePageHeader
            .PageHeader2 Transaction Dashboard
        hr
        #ctl00_PageBody_resultsPanel
            table(cellpadding='0', cellspacing='0', width='800')
                tbody
                    tr
                        td(align='left')
                            #theDashboard
                                #ctl00_PageBody_DashboardRadGrid.RadGrid.RadGrid_T1(tabindex='0')
                                    table#ctl00_PageBody_DashboardRadGrid_ctl00.rgMasterTable(border='0', style='table-layout:auto;empty-cells:show;')
                                        colgroup
                                            col
                                            col(style='width:150px')
                                            col(style='width:150px')
                                            col(style='width:150px')
                                            col(style='width:150px')
                                            col(style='width:150px')
                                        thead
                                            tr
                                                th.rgHeader(scope='col', style='')  
                                                th.rgHeader(scope='col', style='') Corporate Review
                                                th.rgHeader(scope='col', style='') Failed
                                                th.rgHeader(scope='col', style='') OFAC Review
                                                th.rgHeader(scope='col', style='') Pending Callback
                                                th.rgHeader(scope='col', style='') Pending Reject
                                        tbody
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__0.rgRow
                                                td(align='right') Cash Concentration Transfer
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl04_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl04_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl04_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl04_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl04$PendingCallback','')", style='color:Black;text-decoration:underline;') 2
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl04_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__1.rgAltRow
                                                td(align='right') Cash Concentration Transfer Template
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl06_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl06_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl06_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl06_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl06$PendingCallback','')", style='color:Black;text-decoration:underline;') 2
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl06_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__2.rgRow
                                                td(align='right') Coin & Currency
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl08_PendingCorporateReview(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl08$PendingCorporateReview','')", style='color:Black;text-decoration:underline;') 425
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl08_Failed(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl08$Failed','')", style='color:Black;text-decoration:underline;') 385
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl08_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl08_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl08_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__3.rgAltRow
                                                td(align='right') Corporate ACH
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl10_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl10_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl10_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl10_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl10_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__4.rgRow
                                                td(align='right') International Wire Out
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl12_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl12_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl12_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl12_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl12_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__5.rgAltRow
                                                td(align='right') International Wire Out Template
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl14_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl14_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl14_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl14_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl14$PendingCallback','')", style='color:Black;text-decoration:underline;') 1
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl14_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__6.rgRow
                                                td(align='right') Loan to Share
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl16_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl16_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl16_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl16_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl16_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__7.rgAltRow
                                                td(align='right') Member Adjustment
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl18_PendingCorporateReview(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl18$PendingCorporateReview','')", style='color:Black;text-decoration:underline;') 13830
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl18_Failed(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl18$Failed','')", style='color:Black;text-decoration:underline;') 338
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl18_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl18_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl18_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__8.rgRow
                                                td(align='right') Member To Member
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl20_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl20_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl20_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl20_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl20_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__9.rgAltRow
                                                td(align='right') Member To Member Template
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl22_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl22_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl22_OFAC_Suspect(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl22$OFAC_Suspect','')", style='color:Black;text-decoration:underline;') 2
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl22_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl22$PendingCallback','')", style='color:Black;text-decoration:underline;') 2
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl22_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__10.rgRow
                                                td(align='right') Regular Certificate
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl24_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl24_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl24_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl24_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl24_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__11.rgAltRow
                                                td(align='right') Security Sale
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl26_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl26_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl26_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl26_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl26$PendingCallback','')", style='color:Black;text-decoration:underline;') 3
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl26_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__12.rgRow
                                                td(align='right') Share to Loan
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl28_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl28_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl28_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl28_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl28_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__13.rgAltRow
                                                td(align='right') Share to Share
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl30_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl30_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl30_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl30_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl30_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__14.rgRow
                                                td(align='right') Special Certificate
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl32_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl32_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl32_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl32_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl32_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__15.rgAltRow
                                                td(align='right') Western Union
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl34_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl34_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl34_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl34_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl34_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__16.rgRow
                                                td(align='right') Wire In
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl36_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl36_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl36_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl36_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl36_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__17.rgAltRow
                                                td(align='right') Wire Out
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl38_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl38_Failed(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl38_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl38_PendingCallback(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl38_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                            tr#ctl00_PageBody_DashboardRadGrid_ctl00__18.rgRow
                                                td(align='right') Wire Out Template
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl40_PendingCorporateReview(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl40_Failed(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl40_OFAC_Suspect(disabled='disabled', style='color:Black;text-decoration:none;') 0
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl40_PendingCallback(href="javascript:__doPostBack('ctl00$PageBody$DashboardRadGrid$ctl00$ctl40$PendingCallback','')", style='color:Black;text-decoration:underline;') 10
                                                td(align='center')
                                                    a#ctl00_PageBody_DashboardRadGrid_ctl00_ctl40_PendingReject(disabled='disabled', style='color:Black;text-decoration:none;') N/A
                                    input#ctl00_PageBody_DashboardRadGrid_ClientState(name='ctl00_PageBody_DashboardRadGrid_ClientState', type='hidden', autocomplete='off')
        br
        #ctl00_PageBody_TransactionListPanel
            #ctl00_PageBody_dashboardTxListUserCtrl_CallbacksListPanel
                fieldset(style='width: 95%; text-align: left; padding-left:10px')
                    legend.large Transaction List
                    br
                    #ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid.RadGrid.RadGrid_T1(tabindex='0')
                        table#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00.rgMasterTable(border='0', style='width:100%;table-layout:auto;empty-cells:show;')
                            colgroup
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                                col
                            thead
                                tr
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl00','')") Created
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl01','')") Effective
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl02','')") Id
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl03','')") RTN
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl04','')") Type
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl05','')") Status
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl06','')") Amount
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl07','')") Created By
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl08','')") Detail
                                    th.rgHeader(scope='col', style='text-align:center;')
                                        a(title='Click here to sort', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl02$ctl01$ctl09','')") Transaction Detail
                            tfoot
                                tr.rgPager
                                    td(colspan='10')
                                        table(summary='Data pager which controls on which page is the RadGrid control.', border='0', style='width:100%;border-spacing:0;')
                                            caption
                                                span(style='display: none') Data pager
                                            thead
                                                tr
                                                    th(scope='col') Data pager
                                            tbody
                                                tr
                                                    td.rgPagerCell.NextPrevAndNumeric
                                                        .rgWrap.rgArrPart1
                                                            input.rgPageFirst(type='submit', name='ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl02', value=' ', onclick='return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl02", "", true, "", "", false, false))', title='First Page')
                                                            input.rgPagePrev(type='submit', name='ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl03', value=' ', onclick='return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl03", "", true, "", "", false, false))', title='Previous Page')
                                                        .rgWrap.rgNumPart
                                                            a.rgCurrentPage(onclick='return false;', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl05','')")
                                                                span 1
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl07','')")
                                                                span 2
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl09','')")
                                                                span 3
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl11','')")
                                                                span 4
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl13','')")
                                                                span 5
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl15','')")
                                                                span 6
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl17','')")
                                                                span 7
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl19','')")
                                                                span 8
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl21','')")
                                                                span 9
                                                            a(href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl23','')")
                                                                span 10
                                                            a(title='Next Pages', href="javascript:__doPostBack('ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl25','')")
                                                                span ...
                                                        .rgWrap.rgArrPart2
                                                            input.rgPageNext(type='submit', name='ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl28', value=' ', title='Next Page')
                                                            input.rgPageLast(type='submit', name='ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$ctl29', value=' ', title='Last Page')
                                                        .rgWrap.rgAdvPart
                                                            span#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_ChangePageSizeLabel.rgPagerLabel Page size:
                                                            #ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox.RadComboBox.RadComboBox_T1(style='width:46px;white-space:normal;')
                                                                table(summary='', border='0', style='border-width:0;border-collapse:collapse;width:100%')
                                                                    caption(style='display: none;')
                                                                        | PageSizeComboBox
                                                                    tbody
                                                                        tr.rcbReadOnly
                                                                            td.rcbInputCell.rcbInputCellLeft(style='width:100%;')
                                                                                input#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox_Input.rcbInput.radPreventDecorate(name='ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl03$ctl01$PageSizeComboBox', type='text', value='15', readonly='readonly', autocomplete='off')
                                                                            td.rcbArrowCell.rcbArrowCellRight
                                                                                a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox_Arrow(style='overflow: hidden;display: block;position: relative;outline: none;') select
                                                                .rcbSlide(style='z-index:6000;')
                                                                    #ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox_DropDown.RadComboBoxDropDown.RadComboBoxDropDown_T1(style='display:none;')
                                                                        .rcbScroll.rcbWidth(style='width:100%;')
                                                                            ul.rcbList(style='list-style:none;margin:0;padding:0;zoom:1;')
                                                                                li.rcbItem 15
                                                                                li.rcbItem 25
                                                                                li.rcbItem 50
                                                                                li.rcbItem 100
                                                                input#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox_ClientState(name='ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl03_ctl01_PageSizeComboBox_ClientState', type='hidden', autocomplete='off')
                                                        .rgWrap.rgInfoPart
                                                            strong 425
                                                            |  items in 
                                                            strong 29
                                                            |  pages
                            tbody
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__0.rgRow
                                    td(align='center') 05/09/2019
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl04_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl04$Test", "", true, "", "", false, true))') 3376409
                                    td(align='center') 221373383 
                                    td(align='center')  US Bank - FED
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $600.00
                                    td(align='center') Himali Chawra
                                    td(align='center') 05/13/19
                                    td(align='center')
                                        | State EFCU / Br: US Bank-Pend Corp review Later on / Del Date: 5/13/2019 / Ship Date: 5/10/2019 / OTL: US Bank - FED
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__1.rgAltRow
                                    td(align='center') 06/19/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl06_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl06$Test", "", true, "", "", false, true))') 3375540
                                    td(align='center') 211178365 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $60,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/20/18
                                    td(align='center')
                                        | Lawrence Memorial Hospital EFCU / Br: ATM - 365 Montauk Avenue, Lobby / Del Date: 6/20/2018 / Ship Date: 6/19/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__2.rgRow
                                    td(align='center') 06/15/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl08_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl08$Test", "", true, "", "", false, true))') 3375471
                                    td(align='center') 221183256 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $40,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/18/18
                                    td(align='center')
                                        | Norwalk Hospital CU, Inc. / Br: ATM - 34 Maple Street - Main Lobby / Del Date: 6/18/2018 / Ship Date: 6/15/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__3.rgAltRow
                                    td(align='center') 06/15/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl10_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl10$Test", "", true, "", "", false, true))') 3375470
                                    td(align='center') 221183256 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $20,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/18/18
                                    td(align='center')
                                        | Norwalk Hospital CU, Inc. / Br: ATM - 34 Maple Street ER / Del Date: 6/18/2018 / Ship Date: 6/15/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__4.rgRow
                                    td(align='center') 06/13/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl12_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl12$Test", "", true, "", "", false, true))') 3375411
                                    td(align='center') 211176891 
                                    td(align='center')  Dunbar New Britain
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $60,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/14/18
                                    td(align='center')
                                        | American Eagle F C U / Br: ATM - 141 Weston Street / Del Date: 6/14/2018 / Ship Date: 6/13/2018 / OTL: Dunbar New Britain
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__5.rgAltRow
                                    td(align='center') 06/08/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl14_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl14$Test", "", true, "", "", false, true))') 3375294
                                    td(align='center') 221183256 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $40,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/11/18
                                    td(align='center')
                                        | Norwalk Hospital CU, Inc. / Br: ATM - 34 Maple Street - Main Lobby / Del Date: 6/11/2018 / Ship Date: 6/8/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__6.rgRow
                                    td(align='center') 06/07/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl16_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl16$Test", "", true, "", "", false, true))') 3375256
                                    td(align='center') 211176707 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $25,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/08/18
                                    td(align='center')
                                        | Bristol Municipal E F C U / Br: ATM - 131 North Main Street / Del Date: 6/8/2018 / Ship Date: 6/7/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__7.rgAltRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl18_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl18$Test", "", true, "", "", false, true))') 3375187
                                    td(align='center') 211178365 
                                    td(align='center')  Dunbar New Britain
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $50,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | Lawrence Memorial Hospital EFCU / Br: ATM - Pequot Health Center / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Dunbar New Britain
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__8.rgRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl20_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl20$Test", "", true, "", "", false, true))') 3375186
                                    td(align='center') 211176891 
                                    td(align='center')  Dunbar New Britain
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $30,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | American Eagle F C U / Br: ATM - SOUTH WINSOR / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Dunbar New Britain
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__9.rgAltRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl22_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl22$Test", "", true, "", "", false, true))') 3375180
                                    td(align='center') 211176590 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $20,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | Franklin Trust FCU / Br: ATM - Talcott Road / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__10.rgRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl24_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl24$Test", "", true, "", "", false, true))') 3375179
                                    td(align='center') 211178365 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $80,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | Lawrence Memorial Hospital EFCU / Br: ATM - 365 Montauk Avenue, 2nd Floor / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__11.rgAltRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl26_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl26$Test", "", true, "", "", false, true))') 3375178
                                    td(align='center') 211178365 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $60,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | Lawrence Memorial Hospital EFCU / Br: ATM - 365 Montauk Avenue, Lobby / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__12.rgRow
                                    td(align='center') 06/05/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl28_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl28$Test", "", true, "", "", false, true))') 3375177
                                    td(align='center') 221173774 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $80,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/06/18
                                    td(align='center')
                                        | St. Vincents Medical Center F C U / Br: ATM - 2800 Main Street / Del Date: 6/6/2018 / Ship Date: 6/5/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__13.rgAltRow
                                    td(align='center') 06/01/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl30_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl30$Test", "", true, "", "", false, true))') 3375085
                                    td(align='center') 221183256 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $40,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/04/18
                                    td(align='center')
                                        | Norwalk Hospital CU, Inc. / Br: ATM - 34 Maple Street - Main Lobby / Del Date: 6/4/2018 / Ship Date: 6/1/2018 / OTL: Chase - NorthEast
                                tr#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00__14.rgRow
                                    td(align='center') 06/01/2018
                                    td(align='center') N/A
                                    td(align='center')
                                        a#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ctl00_ctl32_Test(href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$PageBody$dashboardTxListUserCtrl$transactionListCtrl$TransactionListRadGrid$ctl00$ctl32$Test", "", true, "", "", false, true))') 3375084
                                    td(align='center') 221183256 
                                    td(align='center')  Chase - NorthEast
                                    td(align='center') Pending Corporate Review
                                    td(align='right') $20,000.00
                                    td(align='center') Christine Smith
                                    td(align='center') 06/04/18
                                    td(align='center')
                                        | Norwalk Hospital CU, Inc. / Br: ATM - 34 Maple Street ER / Del Date: 6/4/2018 / Ship Date: 6/1/2018 / OTL: Chase - NorthEast
                        input#ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ClientState(name='ctl00_PageBody_dashboardTxListUserCtrl_transactionListCtrl_TransactionListRadGrid_ClientState', type='hidden', autocomplete='off')
                    br
            br
