extends ../base.pug
block main
    #TheContent
        #ThePageHeader
            .PageHeader2 Update Organization
        #ctl00_PageBody_Messages(data-msg-showvalidationmsgs='1', data-msg-mc='1')
        #ctl00_PageBody_Tabs_OrgAdminTabStrip.RadTabStrip.RadTabStrip_T1.RadTabStripTop_T1
        #react-tab-strip
        +container('form-group mb-4')
            +row
                +col(12)
                    h4 Filter Users
            +row
                +col(2)
                    label First Name
                +col(2)
                    label Last Name
                +col(2)
                    label Login Name
            +row
                +col(2)
                    input#ctl00_PageBody_FirstNameTextBox.form-control(name='ctl00$PageBody$FirstNameTextBox', type='text')
                +col(2)
                    input#ctl00_PageBody_LastNameTextBox.form-control(name='ctl00$PageBody$LastNameTextBox', type='text')
                +col(2)
                    input#ctl00_PageBody_LoginNameTextBox.form-control(name='ctl00$PageBody$LoginNameTextBox', type='text')
                +col(2)
                    input#ctl00_PageBody_FilterBtn.btn.btn-primary(name='ctl00$PageBody$FilterBtn', type='submit', value='Filter')
            
        #react-user-data-table
        .d-flex.flexrow
            input#ctl00_PageBody_CreateBtn.btn.btn-light.mr-4(name='ctl00$PageBody$CreateBtn', onclick="window.location.href='/Admin/Org/Update/Users/UserCreate.aspx'", type='button', value='Create')
            input#ctl00_PageBody_CloneBtn.btn.btn-light.mr-4(name='ctl00$PageBody$CloneBtn', type='submit', value='Clone')
            input#ctl00_PageBody_DeleteBtn.btn.btn-light(name='ctl00$PageBody$DeleteBtn', onclick='return OnDelete();', type='submit', value='Delete')
