.notifications {
  transition-duration: .5s;
  position: relative;
  top: 0;

  &>ul {
    @include noBullets;
    position: absolute;
    background-color: $white;
    min-width: 22.5rem;
    right: -2.5rem;
    top: 10.4rem;
    transition-duration: .3s;
    @include fadeOut;
    border: .1rem solid $border-light;
    z-index: 100;
    padding-bottom: 1rem;
    border-radius: 0 0 1.5rem 1.5rem;

    &:before {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: $white;
      display: block;
      position: absolute;
      right: 5rem;
      transform: rotate(45deg);
      top: -10px;
      border: .1rem solid $border-light;
      box-sizing: border-box;
      z-index: 0;

    }

    a {
      background-color: $white;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;
      text-decoration: none;
      color: $body;
      font-weight: $font-weight-normal;
      padding: 1.5rem 3rem;
      box-sizing: border-box;
      border-bottom: none;

      @include states {
        color: $primary;
      }
    }
  }

  @include states {
    &>ul {
      @include fadeIn;
      top: 7.4rem;
    }
  }

  button {
    @include unstyleButton;
    color: $light-font;
    padding: 2.5rem;

    @include states {
      color: $primary;
    }

    @include small-desktop {
      display: block;
    }
  }


  .trigger {
    @include unstyleButton;
  }

  .notification-count {
    position: absolute;
    right: 13px;
    top: 20px;
    background-color: $primary;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: .2rem solid #fff;
    transition-duration: .5s;


    .count {
      position: absolute;
      color: $white;
      font-size: 1rem;
      font-weight: $font-weight-normal;
      line-height: 1rem;
      width: .5rem;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-duration: .5s;


      &.small {
        font-size: .8rem;
        line-height: .8rem;
        width: 1.2rem;
      }
    }
  }

  .notifications-menu {
    @include fadeOut;
    position: absolute;
    right: 0;
    top: calc(100% + 5rem);
    background-color: $white;
    min-width: 25rem;
    padding: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(204, 204, 204, .5);
    transition-duration: .5s;

    ul {
      @include noBullets;
    }
  }
}