.notifications {
  position: relative;

  @include states {
    .notifications-menu {
      @include fadeIn;
      top: 100%;
    }
  }

  .trigger {
    @include unstyleButton;
  }

  .notification-count {
    position: absolute;
    right: 13px;
    top: 20px;
    background-color: $primary;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: .2rem solid #fff;
    transition-duration: .5s;


    .count {
      position: absolute;
      color: $white;
      font-size: 1rem;
      font-weight: $font-weight-normal;
      line-height: 1rem;
      width: .5rem;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-duration: .5s;


      &.small {
        font-size: .8rem;
        line-height: .8rem;
        width: 1.2rem;
      }
    }
  }

  .notifications-menu {
    @include fadeOut;
    position: absolute;
    right: 0;
    top: calc(100% + 5rem);
    background-color: $white;
    min-width: 25rem;
    padding: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(204, 204, 204, .5);
    transition-duration: .5s;

    ul {
      @include noBullets;
    }
  }
}