@import '../../styles/variables';
@import '../../styles/mixins';
@import 'node_modules/react-tabs/style/react-tabs.scss';

.account-balances {
    padding: 1.5rem;

    .secondary-button {
        font-size: 1.4rem;
        height: 3.5rem;
    }

    .react-tabs__tab {
        color: $light-font;
        font-weight: $font-weight-medium;
    }

    .react-tabs__tab--selected {
        color: #000000;
        border: none;
        border-bottom: solid .2rem $primary;
    }

    .react-tabs__tab-list {
        border-color: $light-font;
    }

    .rdt_TableBody {
        .rdt_TableRow:last-child {
            .rdt_TableCell:last-child {
                .react-data-table--cell-content{ 
                    font-weight:$font-weight-bold;
                }
            }
        }
    }
}
