@import '../../styles/variables';
@import '../../styles/mixins';

.credit-union-dashboard {
    padding: 2rem;

    label {
        font-weight: $font-weight-medium;
        margin-bottom: 2rem;
    }

    a {
        font-size: 3.3rem;
        font-weight: $font-weight-bold;
    }

    .vl {
        border-left: .2rem solid $light-background;
        height: 10rem;
    }
}
