mixin style-guide
    h1 H1 #[+ipsum]
    h2 H2 #[+ipsum]
    h3 H3 #[+ipsum]
    h4 H4 #[+ipsum]
    h5 H5 #[+ipsum]
    p #[+ipsum(100)]
    strong This is a strong tag
    ul
        li List Item One
        li List Item Two
        li List Item Three
    ol
        li List Item One
        li List Item Two
        li List Item Three